{% extends 'starter_kit/base.html' %}{% load static %}
{% load sass_tags %}
{% load widget_tweaks %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/prism.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/select2.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
    {% include 'starter_kit/layout/breadcrumb.html' %}
    <div class="col-sm-12 col-xl-12 xl-100">
        <div class="card">
            <div class="card-header pb-0">
                <h5>Chart | {{request.user.first_name}} {{request.user.last_name}}</h5><span>Computer Chart List</span>
            </div>
            <div class="card-body btn-showcase">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message | safe }}
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                <!-- blok untuk menampilkan notifikasi pesan sukses -->
                <div>
                </div>
            </div>

            <div class="card-body">
                <div class="card-header pb-0"></div>
                <div class="row">
                  <div class="col-sm-6">  
                    <h5>Windows Type</h5>
                    <div id="piecharttt"></div>
                  </div>
                  <div class="col-sm-6">  
                    <h5>Antivirus</h5>
                    <div id="piechartttt"></div>
                  </div>
                  <div class="col-sm-6">  
                    <h5>Windows</h5>
                    <div id="basic-barr"></div>
                  </div>
                  <div class="col-sm-6">  
                      <h5>Office</h5>
                      <div id="basic-bar"></div>
                  </div>
                </div>
            </div>
                
        </div>

        <div class="card">
            <div class="card-header pb-0">
                <h5>Computer List | {{request.user.first_name}} {{request.user.last_name}}</h5><span>Computer
                    List</span>
            </div>
            <div class="card-body btn-showcase">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message | safe }}
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                <!-- blok untuk menampilkan notifikasi pesan sukses -->
                <div>
                </div>
                <a class="btn btn-success btn-lg" href="{% url 'it_app:computer_add' %}"> <span class="fa fa-plus"></span>Add Computer</a>
            </div>
            <div class="card-body">
                <div class="tab-pane fade show active" id="top-ipAddress-unregistered" role="tabpanel" aria-labelledby="top-ipAddress-unregistered-tab">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="display" id="basic-1">
                                        <thead>
                                            <tr>
                                                <th>IP</th>
                                                <th>Computer Name</th>
                                                <th>OS</th>
                                                {% comment %} <th>Type</th> {% endcomment %}
                                                <th>PC Model</th>
                                                <th>Office</th>
                                                <th>User</th>
                                                <th>Section</th>
                                                <th>Internet</th>
                                                <th>Antivirus</th>
                                                <th>Location</th>
                                        </thead>
                                        <tbody>
                                            {% for computer in computers %}
                                            <tr>
                                                <td>{{ computer.ip }}</td>
                                                <td>{{ computer.computer_name }}</td>
                                                <td>{{ computer.os }}</td>
                                                {% comment %} <td>{{ computer.windows_type }}</td> {% endcomment %}
                                                <td>{{ computer.pc_type }}</td>
                                                <td>
                                                {% if computer.is_office_2003 %}
                                                Office 2003
                                                {% endif %}
                                                {% if computer.is_office_2007 %}
                                                Office 2007
                                                {% endif %}
                                                {% if computer.is_office_2010 %}
                                                Office 2010
                                                {% endif %}
                                                {% if computer.is_office_2016 %}
                                                Office 2016
                                                {% endif %}
                                                </td>
                                                <td>{{ computer.computer_user.first_name }} {{ computer.computer_user.last_name }}</td>
                                                <td>{{ computer.computer_user.userprofileinfo.department.department_name }}</td>
                                                <td>{{ computer.is_internet }}</td>
                                                <td>{{ computer.antivirus }}</td>
                                                <td>{{ computer.location.location_detail }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    {% comment %} <div class="container-fluid">

    </div> {% endcomment %}
    <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></script>
<script src="{% static 'assets/js/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/select2/select2-custom.js' %}"></script>
<script src="{% static 'assets/js/chart/apex-chart/apex-chart.js' %}"></script>
<script src="{% static 'assets/js/chart/apex-chart/stock-prices.js' %}"></script>
<script src="{% static 'assets/js/chart/apex-chart/chart-custom.js' %}"></script>
<script>
  $(document).ready(function() {
      $('#id_computer_user').select2();
      $('#id_ip').select2();

//===========================================================================================================================
        var options = {
            series: [{{ count_oem }}, {{ count_olp }}],
            chart: {
            width: 380,
            type: 'pie',
          },
          labels: ['OEM', 'OLP'],
          responsive: [{
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: 'bottom'
              }
            }
          }]
          };
  
          var chart = new ApexCharts(document.querySelector("#piecharttt"), options);
          chart.render();

//===========================================================================================================================
          var options = {
            series: [{{ count_mcafee }}, {{ count_cyber_reason }}],
            chart: {
            width: 400,
            type: 'pie',
          },
          labels: ['McAfee', 'Cyber Reason'],
          responsive: [{
            breakpoint: 480,
            options: {
              chart: {
                width: 200
              },
              legend: {
                position: 'bottom'
              }
            }
          }]
          };
  
          var chart = new ApexCharts(document.querySelector("#piechartttt"), options);
          chart.render();
//===========================================================================================================================

          var options2 = {
            chart: {
                height: 350,
                type: 'bar',
                toolbar:{
                  show: false
                }
            },
            plotOptions: {
                bar: {
                    horizontal: true,
                }
            },
            dataLabels: {
                enabled: false
            },
            series: [{
                data: [{{ count_office_2003 }} ,{{ count_office_2007 }}, {{ count_office_2010 }}, {{ count_office_2016 }}]
            }],
            xaxis: {
                categories: ['Office 2003', 'Office 2007', 'Office 2010', 'Office 2016'],
            },
            colors:[ WingoAdminConfig.primary ]
        }
        
        var chart2 = new ApexCharts(
            document.querySelector("#basic-bar"),
            options2
        );
        
        chart2.render();

        //===========================================================================================================================

        var options3 = {
          chart: {
              height: 350,
              type: 'bar',
              toolbar:{
                show: false
              }
          },
          plotOptions: {
              bar: {
                  horizontal: true,
              }
          },
          dataLabels: {
              enabled: false
          },
          series: [{
              data: [{{ count_windows_xp }}, {{ count_windows_7 }}, {{ count_windows_8 }}, {{ count_windows_10 }}, {{ count_windows_11 }}]
          }],
          xaxis: {
              categories: ['Windows XP', 'Windows 7', 'Windows 8', 'Windows 10', 'Windows 11'],
          },
          colors:[ WingoAdminConfig.primary ]
        }
        
        var chart3 = new ApexCharts(
            document.querySelector("#basic-barr"),
            options3
        );
        
        chart3.render();

  });
</script>

<!-- Plugins JS Ends-->
{% endblock scriptcontent %}