{% extends 'starter_kit/base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/prism.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'starter_kit/layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row starter-main">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <h5>IT SERVICE | {{request.user.first_name}} {{request.user.last_name}}</h5>
          </div>
          <div class="card-body">
            <form class="theme-form mega-form">
              <h6>Ticket Detail</h6>
              <div class="mb-3">  
                <label class="col-form-label">Tile</label>
                <input class="form-control" type="text" value="{{ ticket.title }}" readonly>
              </div>
              <div class="mb-3">
                <label class="col-form-label">Email Address</label>
                <textarea class="form-control" rows="5" cols="5" placeholder="Default textarea" ></textarea >
              </div>
              <div class="mb-3">
                <label class="col-form-label">Contact Number</label>
                <input class="form-control" type="Number" placeholder="Enter contact number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10">
              </div>
              <hr class="mt-4 mb-4">
              <h6>Company Information</h6>
              <div class="mb-3">
                <label class="col-form-label">Company Name</label>
                <input class="form-control" type="text" placeholder="Company Name">
              </div>
              <div class="mb-3">
                <label class="col-form-label">Website</label>
                <input class="form-control" type="text" placeholder="Website">
              </div>
            </form>
            <hr class="mt-4 mb-4">
            <h6 class="pb-3 mb-0">Billing Information</h6>
            <form class="form-space theme-form row">
              <div class="col-auto mb-2">
                <input class="form-control" type="text" placeholder="Name On Card">
              </div>
              <div class="col-auto mb-2">
                <input class="form-control" type="text" name="inputPassword" placeholder="Card Number">
              </div>
              <div class="col-auto">
                <input class="form-control" type="text" name="inputPassword" placeholder="Zip Code">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}