{% extends 'starter_kit/base.html' %}{% load static %}
{% load sass_tags %}
{% load widget_tweaks %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/prism.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'starter_kit/layout/breadcrumb.html' %}
  <div class="col-sm-12 col-xl-12 xl-100">
    <div class="card">
      <div class="card-header pb-0">
        <h5>Service Ticket | {{request.user.first_name}} {{request.user.last_name}}</h5><span>Problem & Request.</span>
      </div>
      <div class="card-body btn-showcase">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message | safe }}
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
        <!-- blok untuk menampilkan notifikasi pesan sukses -->
<div>
  </div>
    <button class="btn btn-pill btn-outline-primary btn-lg" type="button"><a href="{% url 'it_app:ticket_add' %}">Add Ticket</a></button>
      </div>
      <div class="card-body">
        <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
          <li class="nav-item"><a class="nav-link active" id="top-approval-supervisor-tab" data-bs-toggle="tab" href="#top-approval-supervisor" role="tab" aria-controls="top-approval-supervisor" aria-selected="true"><i class="icofont icofont-man-in-glasses"></i>Approval Supervisor</a></li>
          <li class="nav-item"><a class="nav-link" id="approval-manager-top-tab" data-bs-toggle="tab" href="#top-approval-manager" role="tab" aria-controls="top-approval-manager" aria-selected="false"><i class="icofont icofont-man-in-glasses"></i>Approval Manager</a></li>
          <li class="nav-item"><a class="nav-link" id="waiting-top-tab" data-bs-toggle="tab" href="#top-waiting" role="tab" aria-controls="top-waiting" aria-selected="false"><i class="icofont icofont-computer"></i>Waiting</a></li>
          <li class="nav-item"><a class="nav-link" id="progress-top-tab" data-bs-toggle="tab" href="#top-progress" role="tab" aria-controls="top-progress" aria-selected="false"><i class="icofont icofont-man-in-glasses"></i>In Progress</a></li>
          <li class="nav-item"><a class="nav-link" id="review-top-tab" data-bs-toggle="tab" href="#top-review" role="tab" aria-controls="top-review" aria-selected="false"><i class="icofont icofont-learn"></i>In Review</a></li>
          <li class="nav-item"><a class="nav-link" id="done-top-tab" data-bs-toggle="tab" href="#top-done" role="tab" aria-controls="top-done" aria-selected="false"><i class="icofont icofont-check"></i>Done</a></li>
        </ul>
        <div class="tab-content" id="top-tabContent">
          <div class="tab-pane fade show active" id="top-approval-supervisor" role="tabpanel" aria-labelledby="top-approval-supervisor-tab">

            <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="display" id="basic-1">
                        <thead>
                          <tr>
                            <th>Created</th>
                            <th>Summary</th>
                            <th>Assignee</th>
                            <th>Status</th>
                            {% if request.user.userprofileinfo.is_supervisor %}
                            <th>Action</th>
                            {% endif %}
                          </tr>
                        </thead>
                        <tbody>
                            {% for supervisor in supervisors %}
                            {% if supervisor.is_approve_supervisor == False and request.user.userprofileinfo.division_id == supervisor.ticket.assignee.userprofileinfo.division_id%}
                            {% if supervisor.ticket.assignee.id == request.user.id or request.user.userprofileinfo.is_supervisor == True %}
                            
                            <tr>
                              <td><a href="{% url 'it_app:ticket_detail' supervisor.ticket.id %}">{{supervisor.ticket.created_at}}</td>
                             <td>{{supervisor.ticket.title}}</td>
                             <td>{{supervisor.ticket.assignee.first_name}} {{supervisor.ticket.assignee.last_name}}</td>
                             {% if supervisor.is_rejected_supervisor == True %}
                              <td>Rejected by {{ supervisor.supervisor.first_name }} {{ supervisor.supervisor.last_name }}</td>
                             {% else %}
                              <td>Waiting for Approval Supervisor</td>
                             {% endif %}
                             {% if request.user.userprofileinfo.is_supervisor == True and supervisor.is_approve_supervisor == False and supervisor.is_rejected_supervisor == False%}
                             <td>
                              <a href="{% url 'it_app:ticket_supervisor_approve' supervisor.id %}" class="btn btn-success btn-sm"><span class="icon-check"></span> Approve</a>
                              <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#ModalSupervisor{{ supervisor.id }}" data-whatever="@mdo"><span class="icon-close"></span> Reject</a>
                              </td>
                              {% else %}
                              {% if request.user.userprofileinfo.is_supervisor == False %}
                              {% else %}
                              <td> </td>
                              {% endif %}
                              {% endif %}
                            </tr>
                              {% endif %}
                              {% endif %}
                            <div class="modal fade" id="ModalSupervisor{{ supervisor.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel2">{{supervisor.ticket.title}}</h5>
                                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form action="{% url 'it_app:ticket_supervisor_reject' supervisor.id %}" method="POST">
                                  {% csrf_token %}
                                <div class="modal-body">
                                    <div class="mb-3">
                                      <label class="col-form-label" for="recipient-name">Recipient:</label>
                                      <input class="form-control" type="text" value="{{supervisor.ticket.assignee.first_name}} {{supervisor.ticket.assignee.last_name}}" readonly>
                                    </div>
                                    {% for hidden in form_supervisor.hidden_fields %}
                                    {{ hidden }}
                                     {% endfor %}
                                    <!-- merender semua field form dari objek TaskForm -->
                                    {% if form_supervisor.non_field_errors %}
                                      <div class="alert alert-danger" role="alert">
                                        {% for error in form_supervisor.non_field_errors %}
                                          {{ error }}
                                        {% endfor %}
                                      </div>
                                    {% endif %}
                          
                                    {% for field in form_supervisor.visible_fields %}
                                      <div class="form-group">
                                        {{ field.label_tag }}
                                        {% if form_supervisor.is_bound %}
                                          {% if field.errors %}
                                            {% render_field field class="form-control is-invalid" %}
                                            {% for error in field.errors %}
                                              <div class="invalid-feedback">
                                                {{ error }}
                                              </div>
                                            {% endfor %}
                                          {% else %}
                                            {% render_field field class="form-control is-valid" %}
                                          {% endif %}
                                        {% else %}
                                          {% render_field field class="form-control" %}
                                        {% endif %}
                          
                                        {% if field.help_text %}
                                          <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %}
                                      </div>
                                    {% endfor %}
                                  </div>
                                  <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                  </div>
                              </form>
                              </div>
                            </div>
                          </div>
                            {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>

          </div>
          <div class="tab-pane fade" id="top-approval-manager" role="tabpanel" aria-labelledby="approval-manager-top-tab">
            <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="display" id="basic-2">
                        <thead>
                          <tr>
                            <th>Created</th>
                            <th>Summary</th>
                            <th>Assignee</th>
                            <th>Status</th>
                            {% if request.user.userprofileinfo.is_manager %}
                            <th>Action</th>
                            {% endif %}
                          </tr>
                        </thead>
                        <tbody>
                          {% for manager in managers %}
                          {% if request.user.userprofileinfo.department_id == manager.ticket_approval_supervisor.ticket.assignee.userprofileinfo.department_id and manager.is_approve_manager == False %}
                          {% if manager.ticket_approval_supervisor.ticket.assignee.id == request.user.id or request.user.userprofileinfo.is_manager == True %}
                          <tr>
                            <td><a href="{% url 'it_app:ticket_detail' manager.ticket_approval_supervisor.ticket.id %}">{{manager.ticket_approval_supervisor.ticket.created_at}}</td>
                           <td>{{manager.ticket_approval_supervisor.ticket.title}}</td>
                           <td>{{manager.ticket_approval_supervisor.ticket.assignee.first_name}} {{manager.ticket_approval_supervisor.ticket.assignee.last_name}}</td>
                           {% if manager.is_rejected_manager == True %}
                            <td>Rejected by {{ manager.manager.first_name }} {{ manager.manager.last_name }}</td>
                           {% else %}
                            <td>Waiting for Approval Manager</td>
                           {% endif %}
                           {% if request.user.userprofileinfo.is_manager == True and manager.is_approve_manager == False and manager.is_rejected_manager == False%}
                           <td>
                            <a href="{% url 'it_app:ticket_manager_approve' manager.id %}" class="btn btn-success btn-sm"><span class="icon-check"></span> Approve</a>
                            <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#ModalManager{{ manager.id }}" data-whatever="@mdo"><span class="icon-close"></span> Reject</a>
                            </td>
                            {% else %}
                            {% if request.user.userprofileinfo.is_manager == False %}
                            {% else %}
                            <td> </td>
                            {% endif %}
                            {% endif %}
                          </tr>
                          {% endif %}
                          {% endif %}
                          <div class="modal fade" id="ModalManager{{ manager.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                          aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel2">{{manager.ticket_approval_supervisor.ticket.title}}</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <form action="{% url 'it_app:ticket_manager_reject' manager.id %}" method="POST">
                                {% csrf_token %}
                              <div class="modal-body">
                                  <div class="mb-3">
                                    <label class="col-form-label" for="recipient-name">Recipient:</label>
                                    <input class="form-control" type="text" value="{{manager.ticket_approval_supervisor.ticket.assignee.first_name}} {{manager.ticket_approval_supervisor.ticket.assignee.last_name}}" readonly>
                                  </div>
                                  {% for hidden in form_manager.hidden_fields %}
                                  {{ hidden }}
                                   {% endfor %}
                                  <!-- merender semua field form dari objek TaskForm -->
                                  {% if form_manager.non_field_errors %}
                                    <div class="alert alert-danger" role="alert">
                                      {% for error in form_manager.non_field_errors %}
                                        {{ error }}
                                      {% endfor %}
                                    </div>
                                  {% endif %}
                        
                                  {% for field in form_manager.visible_fields %}
                                    <div class="form-group">
                                      {{ field.label_tag }}
                                      {% if form_manager.is_bound %}
                                        {% if field.errors %}
                                          {% render_field field class="form-control is-invalid" %}
                                          {% for error in field.errors %}
                                            <div class="invalid-feedback">
                                              {{ error }}
                                            </div>
                                          {% endfor %}
                                        {% else %}
                                          {% render_field field class="form-control is-valid" %}
                                        {% endif %}
                                      {% else %}
                                        {% render_field field class="form-control" %}
                                      {% endif %}
                        
                                      {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                      {% endif %}
                                    </div>
                                  {% endfor %}
                                </div>
                                <div class="modal-footer">
                                  <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                                  <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </form>
                            </div>
                          </div>
                        </div>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>

          </div>
          <div class="tab-pane fade" id="top-waiting" role="tabpanel" aria-labelledby="waiting-top-tab">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="display" id="basic-3">
                      <thead>
                        <tr>
                          <th>Created</th>
                          <th>Summary</th>
                          <th>Assignee</th>
                          <th>Status</th>
                          {% if request.user.userprofileinfo.section_id == 22 %}
                          <th>Action</th>
                          {% endif %}
                        </tr>
                      </thead>
                      <tbody>
                        {% for it in its %}
                        {% if it.is_approve_it == False %}
                        {% if it.ticket_approval_supervisor.ticket.assignee.id == request.user.id or request.user.userprofileinfo.section_id == 22 %}
                        <tr>
                          <td><a href="{% url 'it_app:ticket_detail' it.ticket_approval_manager.ticket_approval_supervisor.ticket.id %}">{{it.ticket_approval_manager.ticket_approval_supervisor.ticket.created_at}}</td>
                         <td>{{it.ticket_approval_manager.ticket_approval_supervisor.ticket.title}}</td>
                         <td>{{it.ticket_approval_manager.ticket_approval_supervisor.ticket.assignee.first_name}} {{it.ticket_approval_manager.ticket_approval_supervisor.ticket.assignee.last_name}}</td>
                         {% if it.is_rejected_it == True %}
                          <td>Rejected by {{ it.it.first_name }} {{ it.it.last_name }}</td>
                         {% else %}
                          <td>Waiting for Approval IT Team</td>
                         {% endif %}
                         {% if request.user.userprofileinfo.section_id == 22 and it.is_approve_it == False and it.is_rejected_it == False%}
                         <td>
                          <a href="{% url 'it_app:ticket_it_approve' it.id %}" class="btn btn-success btn-sm"><span class="icon-check"></span> Approve</a>
                          <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#ModalIT{{ it.id }}" data-whatever="@mdo"><span class="icon-close"></span> Reject</a>
                          </td>
                          {% else %}
                          {% if request.user.userprofileinfo.section_id != 22 %}
                          {% else %}
                          <td> </td>
                          {% endif %}
                          {% endif %}
                        </tr>
                        {% endif %}
                        {% endif %}
                        <div class="modal fade" id="ModalIT{{ it.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel2">{{it.ticket_approval_manager.ticket_approval_supervisor.ticket.title}}</h5>
                              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="{% url 'it_app:ticket_it_reject' it.id %}" method="POST">
                              {% csrf_token %}
                            <div class="modal-body">
                                <div class="mb-3">
                                  <label class="col-form-label" for="recipient-name">Recipient:</label>
                                  <input class="form-control" type="text" value="{{it.ticket_approval_manager.ticket_approval_supervisor.ticket.assignee.first_name}} {{it.ticket_approval_manager.ticket_approval_supervisor.ticket.assignee.last_name}}" readonly>
                                </div>
                                {% for hidden in form_it.hidden_fields %}
                                {{ hidden }}
                                 {% endfor %}
                                <!-- merender semua field form dari objek TaskForm -->
                                {% if form_it.non_field_errors %}
                                  <div class="alert alert-danger" role="alert">
                                    {% for error in form_it.non_field_errors %}
                                      {{ error }}
                                    {% endfor %}
                                  </div>
                                {% endif %}
                      
                                {% for field in form_it.visible_fields %}
                                  <div class="form-group">
                                    {{ field.label_tag }}
                                    {% if form_it.is_bound %}
                                      {% if field.errors %}
                                        {% render_field field class="form-control is-invalid" %}
                                        {% for error in field.errors %}
                                          <div class="invalid-feedback">
                                            {{ error }}
                                          </div>
                                        {% endfor %}
                                      {% else %}
                                        {% render_field field class="form-control is-valid" %}
                                      {% endif %}
                                    {% else %}
                                      {% render_field field class="form-control" %}
                                    {% endif %}
                      
                                    {% if field.help_text %}
                                      <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                  </div>
                                {% endfor %}
                              </div>
                              <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit">Submit</button>
                              </div>
                          </form>
                          </div>
                        </div>
                      </div>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
         </div>
          <div class="tab-pane fade" id="top-progress" role="tabpanel" aria-labelledby="progress-top-tab">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="display" id="basic-4">
                     
                    </table>
                  </div>
                </div>
              </div>
          </div>
          </div>
          <div class="tab-pane fade" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="display" id="basic-5">
                     
                    </table>
                  </div>
                </div>
              </div>
          </div>
          </div>
          <div class="tab-pane fade" id="top-done" role="tabpanel" aria-labelledby="done-top-tab">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="display" id="basic-6">
                    
                    </table>
                  </div>
                </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  {% comment %} <div class="container-fluid">
   
  </div> {% endcomment %}
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}