{% extends 'starter_kit/other-base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->

<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<meta http-equiv="Refresh" content="10">
<div class="card-body">
<div class="card manage-invoice-sec">
    <div class="card-header pb-0">
      <h3 class="text-center">Helpdesk Monitoring</h3>
      <hr>
    </div>
    <div class="card-body">
      <div class="manage-invoice-table">
        <div class="item">
          <div class="table-responsive manage-invoice">
            <table class="table table-xl table-striped table-border-vertical">
             <thead>
              <tr>
                <th>Name </th>
                <th>Division</th>
                <th>Department</th>
                <th>Date</th>
                <th>Title</th>
                <th>Priority</th>
                <th>Status</th>
              </tr>
                </thead>
                    <tbody>
                        {% for ticket in tickets  %}
                        {% if ticket.ticketapprovalsupervisor.ticketapprovalmanager.ticketapprovalit.ticketprogressit.status != 'Done' and ticket.ticketapprovalsupervisor.ticketapprovalmanager.ticketapprovalit.ticketprogressit %}
                        <tr class="table-success">
                            <td> 
                            <div class="d-inline-block align-middle"><a href="{% url 'it_app:ticket_detail' ticket.id %}"><span class="f-w-500">{{ ticket.assignee.first_name}} {{ ticket.assignee.last_name}}</span></a></div>
                            </td>
                            <td><p>{{ ticket.assignee.userprofileinfo.division.division_name}}</p></td>
                            <td><p>{{ ticket.assignee.userprofileinfo.department.department_name}}</p></td>
                            <td><p>{{ ticket.created_at }}</p></td>
                            <td><p>{{ ticket.title }}</p></td>
                            <td><p>{{ ticket.ticketapprovalsupervisor.ticketapprovalmanager.ticketapprovalit.ticketprogressit.priority }}</p></td>
                            <td><p>{{ ticket.ticketapprovalsupervisor.ticketapprovalmanager.ticketapprovalit.ticketprogressit.status }}</p></td>
                        </tr>
                        {% else %}
                        {% if ticket.ticketapprovalsupervisor.ticketapprovalmanager.ticketapprovalit.ticketprogressit.status != 'Done' %}
                        <tr class="table-info">
                            <td> 
                            <div class="d-inline-block align-middle"><a href="{% url 'it_app:ticket_detail' ticket.id %}"><span class="f-w-500">{{ ticket.assignee.first_name}} {{ ticket.assignee.last_name}}</span></a></div>
                            </td>
                            <td><p>{{ ticket.assignee.userprofileinfo.division.division_name}}</p></td>
                            <td><p>{{ ticket.assignee.userprofileinfo.department.department_name}}</p></td>
                            <td><p>{{ ticket.created_at }}</p></td>
                            <td><p>{{ ticket.title }}</p></td>
                            <td><p>-</p></td>
                            {% if ticket.ticketapprovalsupervisor.ticketapprovalmanager.ticketapprovalit %}
                            <td><p>Waiting For Approval IT</p></td>
                            {% elif ticket.ticketapprovalsupervisor.ticketapprovalmanager %}
                            <td><p>Waiting For Approval Manager {{ticket.assignee.userprofileinfo.department.department_name}}</p></td>
                            {% elif ticket.ticketapprovalsupervisor %}
                            <td><p>Waiting For Approval Supervisor {{ticket.assignee.userprofileinfo.division.division_name}}</p></td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </tbody>
                  </table>
                  </div>
                </div>
              </div>
              </div>
            </div>
        </div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
{% comment %} <script>
    document.getElementById('id_username').value = 'test'
    document.getElementById('id_password').value = 'testing@123'
</script> {% endcomment %}
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}