<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        @page {
            size: A4;
        }

        @media print {
            body {
                margin: 0;
                padding: 0;
                font-size: 12pt;
            }

            @page {
                margin: 2cm;
            }
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            font-family: Arial, sans-serif;
            font-size: 12px;
            margin-bottom: 20px;
        }

        .table2 {
            width: 50%;
            border-collapse: collapse;
            font-family: Arial, sans-serif;
            font-size: 12px;
            margin-bottom: 20px;
            position: fixed;
            right: 0;
        }

        td {
            text-align: center;
            border: 1px solid #ccc;
        }

        th {
            background-color: #f2f2f2;
            text-align: center;
            padding: 5px;
            border: 1px solid #ccc;
        }

        .section-header {
            background-color: #e6e6e6;
            font-weight: bold;
        }

        .section-detail td:first-child {
            width: 50%;
        }

        .bordered-heading {
            border: 1px solid black;
            padding: 10px;
            display: inline-block;
            position: relative;
            left: 100%;
            transform: translateX(-100%);
        }

        p.form_text1>span {
            display: inline-block;
            min-width: 220px;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PT SEIWA INDONESIA | QC/QA Dept.</title>
</head>

<body onload="printContent()">
    <h5 class="bordered-heading" style="border: 1px solid #ccc;">{{ rir_header.category }}</h5>
    <h3 style="text-align: center;"><u>RECEIVING INSPECTION REPORT</u></h3>
    <p class="form_text1"><span>MATERIAL NAME</span>: <u>{{ rir_header.material }}</u> </p>
    <p class="form_text1"><span>VENDOR </span>: <u>{{ rir_header.vendor }}</u> </p>
    <p class="form_text1"><span>PO NUMBER</span>: <u>{{ rir_header.po_number }}</u> </p>
    <p class="form_text1"><span>LOT NO</span>: <u>{{ rir_header.lot_no }}</u> </p>
    <p class="form_text1"><span>QUANTITY</span>: <u>{{ rir_header.quantity }}</u> </p>
    <p class="form_text1"><span>INCOMING TYPE</span>: <u>{{ rir_header.incoming_type }}</u> </p>
    <p class="form_text1"><span>INCOMING DATE</span>: <u>{{ rir_header.incoming_at|date:"F j, Y" }}</u> </p>
    {% if rir_header.incoming_at_external %}
    <p class="form_text1"><span>INCOMING DATE EXTERNAL</span>: <u>{{ rir_header.incoming_at_external|date:"F j, Y" }}</u> </p>
    {% endif %}
    <p class="form_text1"><span>EXPIRED DATE</span>: <u>{{ rir_header.expired_at|date:"F j, Y" }}</u> </p>

    <table class="table">
        <thead>
             <tr class="section-header">
                 <th style="text-align: center;">INSPECTION ITEM</th>
                 <th style="text-align: center;">JUDGEMENT</th>
                 <th style="text-align: center;">CHECKED BY</th>
                 <th style="text-align: center;">REMARKS</th>
             </tr>
        </thead>
        <tbody>
            {% if rir_coa_judgement or rir_coa_checkedby %}
            <tr class="section-detail">
                <td style="padding: 15px;">1. COA Content</td>
                <td style="padding: 15px;">
                    {% if rir_coa_judgement.coa_content_user_judgement %}
                    Judgement By {{ rir_coa_judgement.coa_content_user_judgement.user.first_name }} {{ rir_coa_judgement.coa_content_user_judgement.user.last_name }}
                    {% endif %}
                </td>
                <td style="padding: 15px;">
                    {% if rir_coa_checkedby.coa_content_user_checked_by %}
                    Checked By {{ rir_coa_checkedby.coa_content_user_checked_by.user.first_name }} {{ rir_coa_checkedby.coa_content_user_checked_by.user.last_name }}
                    {% endif %}
                </td>
                <td style="padding: 15px;">
                    {% if rir_coa_judgement.coa_content_remark %} {{ rir_coa_judgement.coa_content_remark }} {% endif %} 
                    <br>
                    {% if rir_coa_checkedby.coa_content_remark %} {{ rir_coa_checkedby.coa_content_remark }} {% endif %} 
                </td>
            </tr>
            {% endif %}
            {% if rir_appearance_judgement or rir_appearance_checkedby %}
            <tr class="section-detail">
                <td style="padding: 15px;">2. Appearance</td>
                <td style="padding: 15px;">
                    {% if rir_appearance_judgement.appearence_user_judgement %}
                    Judgement By {{ rir_appearance_judgement.appearence_user_judgement.user.first_name }} {{ rir_coa_judgement.appearence_user_judgement.user.last_name }}
                    {% endif %}
                </td>
                <td style="padding: 15px;">
                    {% if rir_appearance_checkedby.appearence_user_checked_by %}
                    Checked By {{ rir_appearance_checkedby.appearence_user_checked_by.user.first_name }} {{ rir_appearance_checkedby.appearence_user_checked_by.user.last_name }}
                    {% endif %}
                </td>
                <td style="padding: 15px;">
                    {% if rir_appearance_judgement.appearence_remark %} {{ rir_appearance_judgement.appearence_remark }} {% endif %} 
                    <br>
                    {% if rir_appearance_checkedby.appearence_remark %} {{ rir_appearance_checkedby.appearence_remark }} {% endif %} 
                </td>
            </tr>
            {% endif %}
            {% if rir_sampletest_judgement or rir_sampletest_checkedby %}
            <tr class="section-detail">
                <td style="padding: 15px;">3. Sample Test</td>
                <td style="padding: 15px;">
                    {% if rir_sampletest_judgement.sample_test_user_judgement %}
                    Judgement By {{ rir_sampletest_judgement.sample_test_user_judgement.user.first_name }} {{ rir_sampletest_judgement.sample_test_user_judgement.user.last_name }}
                    {% endif %}
                </td>
                <td style="padding: 15px;">
                    {% if rir_sampletest_checkedby.sample_test_user_checked_by %}
                    Checked By {{ rir_sampletest_checkedby.sample_test_user_checked_by.user.first_name }} {{ rir_sampletest_checkedby.sample_test_user_checked_by.user.last_name }}
                    {% endif %}
                </td>
                <td style="padding: 15px;">
                    {% if rir_sampletest_judgement.sample_test_remark %} {{ rir_sampletest_judgement.sample_test_remark }} {% endif %} 
                    <br>
                    {% if rir_sampletest_checkedby.sample_test_remark %} {{ rir_sampletest_checkedby.sample_test_remark }} {% endif %} 
                </td>
            </tr>
            {% endif %}
            {% if rir_restrictedsubstance_judgement or rir_restrictedsubstance_checkedby %}
            <tr class="section-detail">
                <td style="padding: 15px;">3. Restricted Substance</td>
                <td style="padding: 15px;">
                    {% if rir_restrictedsubstance_judgement.restricted_substance_user_judgement %}
                    Judgement By {{ rir_restrictedsubstance_judgement.restricted_substance_user_judgement.user.first_name }} {{ rir_restrictedsubstance_judgement.restricted_substance_user_judgement.user.last_name }}
                    {% endif %}
                </td>
                <td style="padding: 15px;">
                    {% if rir_restrictedsubstance_checkedby.restricted_substance_user_checked_by %}
                    Checked By {{ rir_restrictedsubstance_checkedby.restricted_substance_user_checked_by.user.first_name }} {{ rir_restrictedsubstance_checkedby.restricted_substance_user_checked_by.user.last_name }}
                    {% endif %}
                </td>
                <td style="padding: 15px;">
                    {% if rir_restrictedsubstance_judgement.restricted_substance_remark %} {{ rir_restrictedsubstance_judgement.restricted_substance_remark }} {% endif %} 
                    <br>
                    {% if rir_restrictedsubstance_checkedby.restricted_substance_remark %} {{ rir_restrictedsubstance_checkedby.restricted_substance_remark }} {% endif %} 
                </td>
            </tr>
            {% endif %}
            {% if rir_environmentalissue_judgement or rir_environmentalissue_checkedby %}
                {% if rir_restrictedsubstance_judgement or rir_restrictedsubstance_checkedby %}
                     {% if rir_sampletest_judgement or rir_sampletest_checkedby %}
                        <tr class="section-detail">
                            <td style="padding: 15px;">4. Environmental Issue</td>
                            <td style="padding: 15px;">
                                {% if rir_environmentalissue_judgement.environmental_issue_user_judgement %}
                                Judgement By {{ rir_environmentalissue_judgement.environmental_issue_user_judgement.user.first_name }} {{ rir_environmentalissue_judgement.environmental_issue_user_judgement.user.last_name }}
                                {% endif %}
                            </td>
                            <td style="padding: 15px;">
                                {% if rir_environmentalissue_checkedby.environmental_issue_user_checked_by %}
                                Checked By {{ rir_environmentalissue_checkedby.environmental_issue_user_checked_by.user.first_name }} {{ rir_environmentalissue_checkedby.environmental_issue_user_checked_by.user.last_name }}
                                {% endif %}
                            </td>
                            <td style="padding: 15px;">
                                {% if rir_environmentalissue_judgement.environmental_issue_remark %} {{ rir_environmentalissue_judgement.environmental_issue_remark }} {% endif %} 
                                <br>
                                {% if rir_environmentalissue_checkedby.environmental_issue_remark %} {{ rir_environmentalissue_checkedby.environmental_issue_remark }} {% endif %} 
                            </td>
                        </tr>
                        {% else %}
                        <tr class="section-detail">
                            <td style="padding: 15px;">3. Environmental Issue</td>
                            <td style="padding: 15px;">
                                {% if rir_environmentalissue_judgement.environmental_issue_user_judgement %}
                                Judgement By {{ rir_environmentalissue_judgement.environmental_issue_user_judgement.user.first_name }} {{ rir_environmentalissue_judgement.environmental_issue_user_judgement.user.last_name }}
                                {% endif %}
                            </td>
                            <td style="padding: 15px;">
                                {% if rir_environmentalissue_checkedby.environmental_issue_user_checked_by %}
                                Checked By {{ rir_environmentalissue_checkedby.environmental_issue_user_checked_by.user.first_name }} {{ rir_environmentalissue_checkedby.environmental_issue_user_checked_by.user.last_name }}
                                {% endif %}
                            </td>
                            <td style="padding: 15px;">
                                {% if rir_environmentalissue_judgement.environmental_issue_remark %} {{ rir_environmentalissue_judgement.environmental_issue_remark }} {% endif %} 
                                <br>
                                {% if rir_environmentalissue_checkedby.environmental_issue_remark %} {{ rir_environmentalissue_checkedby.environmental_issue_remark }} {% endif %} 
                            </td>
                        </tr>
                     {% endif %}
                {% endif %}
            {% endif %}
        </tbody>
        
    </table>

    <table class="table2">
        <tr class="section-header">
            <th style="text-align: center;" rowspan="2"><b>Special Judgement</b></th>
            <th style="text-align: center;" colspan="2"><b>PIC</b></th>
        </tr>
        <tr class="section-detail">
            <td  style="padding: 5 px;">QC/QA <br> Supervisor</td>
            <td  style="padding: 5 px;">QC/QA <br> Manager</td>
        </tr>
        <tr class="section-detail">
            <td rowspan="2" style="padding: 25px;">
                -
            </td>
            <td rowspan="2" style="padding: 25px;">
                {% if rir_approval_supervisor.is_approve_supervisor %}
                Approved By {{ rir_approval_supervisor.supervisor.user.first_name }} {{ rir_approval_supervisor.supervisor.user.last_name }}
                {% endif %}
            </td>
            <td rowspan="2" style="padding: 25px;">
                {% if rir_approval_manager.is_approve_manager %}
                Approved By {{ rir_approval_manager.manager.user.first_name }} {{ rir_approval_manager.manager.user.last_name }}
                {% endif %}
            </td>
        </tr>
    </table>

    <script>
        function printContent() {
            // Open the print dialog
            window.print();
        }
        </script>
</body>

</html>