{% extends 'starter_kit/base.html' %}{% load static %}
{% load sass_tags %}
{% load widget_tweaks %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/prism.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'starter_kit/layout/breadcrumb.html' %}
  <div class="col-sm-12 col-xl-12 xl-100">
    <div class="card">
      <div class="card-header pb-0">
        <h5>RIR Checked | {{request.user.first_name}} {{request.user.last_name}}</h5><span>COA, Appearance, restricted Substance, sample test, and environmental Issue.</span>
      </div>
      <div class="card-body btn-showcase">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message | safe }}
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
        <!-- blok untuk menampilkan notifikasi pesan sukses -->
<div>
  </div>
        <a class="btn btn-primary btn-lg" href="{% url 'qc_app:rir_add' %}"> <span class="fa fa-plus"></span>Add RIR</a>
      </div>
      <div class="card-body">
        <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
          <li class="nav-item"><a class="nav-link active" id="top-checkedby-coa-tab" data-bs-toggle="tab" href="#top-checkedby-coa" role="tab" aria-controls="top-checkedby-coa" aria-selected="true"><i class="icofont icofont-man-in-glasses"></i>COA Content</a></li>
          <li class="nav-item"><a class="nav-link" id="top-checkedby-appearance-tab" data-bs-toggle="tab" href="#top-checkedby-appearance" role="tab" aria-controls="top-checkedby-appearance" aria-selected="true"><i class="icofont icofont-man-in-glasses"></i>Appearance</a></li>
          <li class="nav-item"><a class="nav-link" id="top-checkedby-restricted-substance-tab" data-bs-toggle="tab" href="#top-checkedby-restricted-substance" role="tab" aria-controls="top-checkedby-restricted-substance" aria-selected="true"><i class="icofont icofont-man-in-glasses"></i>restricted Substance</a></li>
          <li class="nav-item"><a class="nav-link" id="top-checkedby-sample-test-tab" data-bs-toggle="tab" href="#top-checkedby-sample-test" role="tab" aria-controls="top-checkedby-sample-test" aria-selected="true"><i class="icofont icofont-man-in-glasses"></i>Sample Test</a></li>
          <li class="nav-item"><a class="nav-link" id="top-environmental-issue-tab" data-bs-toggle="tab" href="#top-environmental-issue" role="tab" aria-controls="top-environmental-issue" aria-selected="true"><i class="icofont icofont-man-in-glasses"></i>Environmental Issue</a></li>
        </ul>
        <div class="tab-content" id="top-tabContent">

            <div class="tab-pane fade show active" id="top-checkedby-coa" role="tabpanel" aria-labelledby="top-checkedby-coa-tab">
                <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="display" id="basic-1">
                            <thead>
                              <tr>
                                <th>RIR No</th>
                                <th>Type</th>
                                <th>Material Name</th>
                                <th>Incoming</th>
                                <th>Expired</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for coa in checkedby_coa %}
                                <tr>
                                    <td><a href="{% url 'qc_app:rir_detail' coa.coa_content_judgement.header.id %}">{{coa.coa_content_judgement.header.rir_no}}</td>
                                    <td>{{coa.coa_content_judgement.header.category}}</td>
                                    <td>{{coa.coa_content_judgement.header.material}}</td>
                                    <td>{{coa.coa_content_judgement.header.incoming_at|date:"F j, Y"}}</td>                                    
                                    <td>{{coa.coa_content_judgement.header.expired_at|date:"F j, Y"}}</td>
                                    <td><a href="{% url 'qc_app:rir_detail' coa.coa_content_judgement.header.id %}" class="btn btn-info btn-sm"><span class="icon-info"></span> Detail</a> 
                                        {% comment %} | <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#ModalRIRDelete{{ coa.coa_content_judgement.header.id }}" data-whatever="@mdo"><span class="icon-close"></span> Delete</a> {% endcomment %}
                                        | <a href="{% url 'qc_app:rir_download_report' coa.coa_content_judgement.header.id %}" class="btn btn-success btn-sm" target="_blank"><span class="icon-printer"></span> Print</a></td>
                                </tr>
                                
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        
            <div class="tab-pane fade show" id="top-checkedby-appearance" role="tabpanel" aria-labelledby="top-checkedby-appearance-tab">
                <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="display" id="basic-3">
                            <thead>
                              <tr>
                                <th>RIR No</th>
                                <th>Type</th>
                                <th>Material Name</th>
                                <th>Incoming</th>
                                <th>Expired</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for appearance in checkedby_appearance %}
                                <tr>
                                    <td><a href="{% url 'qc_app:rir_detail' appearance.appearence_judgement.header.id %}"> {{appearance.appearence_judgement.header.rir_no}}</td>
                                    <td>{{appearance.appearence_judgement.header.category}}</td>
                                    <td>{{appearance.appearence_judgement.header.material}}</td>
                                    <td>{{appearance.appearence_judgement.header.incoming_at|date:"F j, Y"}}</td>
                                    <td>{{appearance.appearence_judgement.header.expired_at|date:"F j, Y"}}</td>
                                    <td><a href="{% url 'qc_app:rir_detail' appearance.appearence_judgement.header.id %}" class="btn btn-info btn-sm"><span class="icon-info"></span> Detail</a> 
                                        {% comment %} | <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#ModalRIRDelete{{ appearance.appearence_judgement.header.id }}" data-whatever="@mdo"><span class="icon-close"></span> Delete</a> {% endcomment %}
                                        | <a href="{% url 'qc_app:rir_download_report' appearance.appearence_judgement.header.id %}" class="btn btn-success btn-sm" target="_blank"><span class="icon-printer"></span> Print</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
         
            <div class="tab-pane fade show" id="top-checkedby-restricted-substance" role="tabpanel" aria-labelledby="top-checkedby-restricted-substance-tab">
                <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="display" id="basic-5">
                            <thead>
                              <tr>
                                <th>RIR No</th>
                                <th>Type</th>
                                <th>Material Name</th>
                                <th>Incoming</th>
                                <th>Expired</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for restricted_substance in checkedby_restricted_substance %}
                                <tr>
                                    <td><a href="{% url 'qc_app:rir_detail' restricted_substance.restricted_substance_judgement.header.id %}"> {{restricted_substance.restricted_substance_judgement.header.rir_no}}</td>
                                    <td>{{restricted_substance.restricted_substance_judgement.header.category}}</td>
                                    <td>{{restricted_substance.restricted_substance_judgement.header.material}}</td>
                                    <td>{{restricted_substance.restricted_substance_judgement.header.incoming_at|date:"F j, Y"}}</td>
                                    <td>{{restricted_substance.restricted_substance_judgement.header.expired_at|date:"F j, Y"}}</td>
                                    <td><a href="{% url 'qc_app:rir_detail' restricted_substance.restricted_substance_judgement.header.id %}" class="btn btn-info btn-sm"><span class="icon-info"></span> Detail</a> 
                                        {% comment %} | <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#ModalRIRDelete{{ restricted_substance.restricted_substance_judgement.header.id }}" data-whatever="@mdo"><span class="icon-close"></span> Delete</a> {% endcomment %}
                                        | <a href="{% url 'qc_app:rir_download_report' restricted_substance.restricted_substance_judgement.header.id %}" class="btn btn-success btn-sm" target="_blank"><span class="icon-printer"></span> Print</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        
            <div class="tab-pane fade show" id="top-checkedby-sample-test" role="tabpanel" aria-labelledby="top-checkedby-sample-test-tab">
                <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="display" id="basic-7">
                            <thead>
                              <tr>
                                <th>RIR No</th>
                                <th>Type</th>
                                <th>Material Name</th>
                                <th>Incoming Type</th>
                                <th>Incoming</th>
                                <th>Expired</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for sample_test in checkedby_sample_test %}
                              <tr>
                                  <td><a href="{% url 'qc_app:rir_detail' sample_test.sample_test_judgement.header.id %}">{{sample_test.sample_test_judgement.header.rir_no}}</td>
                                  <td>{{sample_test.sample_test_judgement.header.category}}</td>
                                  <td>{{sample_test.sample_test_judgement.header.material.name}}</td>
                                  <td>{{sample_test.sample_test_judgement.header.incoming_type}}</td>
                                  <td>{{sample_test.sample_test_judgement.header.incoming_at|date:"F j, Y"}}</td>
                                  <td>{{sample_test.sample_test_judgement.header.expired_at|date:"F j, Y"}}</td>
                                  <td><a href="{% url 'qc_app:rir_detail' sample_test.sample_test_judgement.header.id %}" class="btn btn-info btn-sm"><span class="icon-info"></span> Detail</a> 
                                        {% comment %} | <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#ModalRIRDelete{{ sample_test.sample_test_judgement.header.id }}" data-whatever="@mdo"><span class="icon-close"></span> Delete</a> {% endcomment %}
                                        | <a href="{% url 'qc_app:rir_download_report' sample_test.sample_test_judgement.header.id %}" class="btn btn-success btn-sm" target="_blank"><span class="icon-printer"></span>Print</a></td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          
            <div class="tab-pane fade show" id="top-environmental-issue" role="tabpanel" aria-labelledby="top-environmental-issue-tab">
                <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="display" id="basic-9">
                            <thead>
                              <tr>
                                <th>RIR No</th>
                                <th>Type</th>
                                <th>Material Name</th>
                                <th>Incoming</th>
                                <th>Expired</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for environmental_issue in checkedby_environmental_issue %}
                                <tr>
                                    <td><a href="{% url 'qc_app:rir_detail' environmental_issue.environmental_issue_judgement.header.id %}">{{environmental_issue.environmental_issue_judgement.header.rir_no}}</td>
                                    <td>{{environmental_issue.environmental_issue_judgement.header.category}}</td>
                                    <td>{{environmental_issue.environmental_issue_judgement.header.material}}</td>
                                    <td>{{environmental_issue.environmental_issue_judgement.header.incoming_at|date:"F j, Y"}}</td>
                                    <td>{{environmental_issue.environmental_issue_judgement.header.expired_at|date:"F j, Y"}}</td>
                                    <td><a href="{% url 'qc_app:rir_detail' environmental_issue.environmental_issue_judgement.header.id %}" class="btn btn-info btn-sm"><span class="icon-info"></span> Detail</a> 
                                        {% comment %} | <a class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#ModalRIRDelete{{ environmental_issue.environmental_issue_judgement.header.id }}" data-whatever="@mdo"><span class="icon-close"></span> Delete</a> {% endcomment %}
                                        | <a href="{% url 'qc_app:rir_download_report' environmental_issue.environmental_issue_judgement.header.id %}" class="btn btn-success btn-sm" target="_blank"><span class="icon-printer"></span> Print</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

            {% for rir in rir %}
            {% comment %} MODAL DELETE START {% endcomment %}
            <div class="modal fade" id="ModalRIRDelete{{ rir.id }}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">{{rir.rir_no}}</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form action="{% url 'qc_app:rir_delete' rir.id %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                      <div class="mb-3">
                        <label class="col-form-label" for="recipient-name">Material Name:</label>
                        <input class="form-control" type="text" value="{{rir.material.name}}" readonly>
                      </div>
                      <div class="mb-3">
                        <label class="col-form-label" for="recipient-name">Incoming At:</label>
                        <input class="form-control" type="text" value="{{rir.incoming_at|date:'F j, Y'}}" readonly>
                      </div>
                      <div class="mb-3">
                        <label class="col-form-label" for="recipient-name">Expired At:</label>
                        <input class="form-control" type="text" value="{{rir.expired_at|date:'F j, Y'}}" readonly>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                      <button class="btn btn-secondary" type="submit">Delete</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            {% comment %} MODAL DELETE END {% endcomment %}
            {% endfor %}

        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  {% comment %} <div class="container-fluid">
   
  </div> {% endcomment %}
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}