{% extends 'starter_kit/base.html' %}{% load static %}
{% load sass_tags %}
{% load widget_tweaks %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/prism.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'starter_kit/layout/breadcrumb.html' %}
  <div class="col-sm-12 col-xl-12 xl-100">
    <div class="card">
      <div class="card-header pb-0">
        <h5>RIR Checked | {{request.user.first_name}} {{request.user.last_name}}</h5><span>COA, Appearance, restricted Substance, sample test, and environmental Issue.</span>
      </div>
      <div class="card-body btn-showcase">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message | safe }}
            <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
        <!-- blok untuk menampilkan notifikasi pesan sukses -->
<div>
  </div>
        <a class="btn btn-primary btn-lg" href="{% url 'qc_app:rir_add' %}"> <span class="fa fa-plus"></span>Add RIR</a>
      </div>
      <div class="card-body">
        <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
          <li class="nav-item"><a class="nav-link active" id="top-checkedby-coa-tab" data-bs-toggle="tab" href="#top-checkedby-coa" role="tab" aria-controls="top-checkedby-coa" aria-selected="true"><i class="icofont icofont-man-in-glasses"></i>COA Content</a></li>
          <li class="nav-item"><a class="nav-link" id="top-checkedby-appearance-tab" data-bs-toggle="tab" href="#top-checkedby-appearance" role="tab" aria-controls="top-checkedby-appearance" aria-selected="true"><i class="icofont icofont-man-in-glasses"></i>Appearance</a></li>
          <li class="nav-item"><a class="nav-link" id="top-checkedby-restricted-substance-tab" data-bs-toggle="tab" href="#top-checkedby-restricted-substance" role="tab" aria-controls="top-checkedby-restricted-substance" aria-selected="true"><i class="icofont icofont-man-in-glasses"></i>restricted Substance</a></li>
          <li class="nav-item"><a class="nav-link" id="top-sample-test-tab" data-bs-toggle="tab" href="#top-sample-test" role="tab" aria-controls="top-sample-test" aria-selected="true"><i class="icofont icofont-man-in-glasses"></i>Sample Test</a></li>
          <li class="nav-item"><a class="nav-link" id="top-environmental-issue-tab" data-bs-toggle="tab" href="#top-environmental-issue" role="tab" aria-controls="top-environmental-issue" aria-selected="true"><i class="icofont icofont-man-in-glasses"></i>Environmental Issue</a></li>
        </ul>
        <div class="tab-content" id="top-tabContent">

            <div class="tab-pane fade show active" id="top-checkedby-coa" role="tabpanel" aria-labelledby="top-checkedby-coa-tab">
                <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="display" id="basic-1">
                            <thead>
                              <tr>
                                <th>RIR No</th>
                                <th>Type</th>
                                <th>Material Name</th>
                                <th>Incoming</th>
                                <th>Expired</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for coa in checkedby_coa %}
                                <tr>
                                    <td><a href="{% url 'qc_app:rir_detail' coa.header.id %}">{{coa.header.rir_no}}</td>
                                    <td>{{coa.header.category}}</td>
                                    <td>{{coa.header.material}}</td>
                                    <td>{{coa.header.incoming_at}}</td>
                                    <td>{{coa.header.expired_at}}</td>
                                    <td><a href="{% url 'qc_app:rir_detail' coa.header.id %}" class="btn btn-info btn-sm"><span class="icon-info"></span> Detail</a> | <a href="{% url 'qc_app:rir_download_report' %}" class="btn btn-success btn-sm" target="_blank"><span class="icon-printer"></span> Print</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        
            <div class="tab-pane fade show" id="top-checkedby-appearance" role="tabpanel" aria-labelledby="top-checkedby-appearance-tab">
                <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="display" id="basic-6">
                            <thead>
                              <tr>
                                <th>RIR No</th>
                                <th>Type</th>
                                <th>Material Name</th>
                                <th>Incoming</th>
                                <th>Expired</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for appearance in checkedby_appearance %}
                                <tr>
                                    <td><a href="{% url 'qc_app:rir_detail' appearance.header.id %}"> {{appearance.header.rir_no}}</td>
                                    <td>{{appearance.header.category}}</td>
                                    <td>{{appearance.header.material}}</td>
                                    <td>{{appearance.header.incoming_at}}</td>
                                    <td>{{appearance.header.expired_at}}</td>
                                    <td><a href="{% url 'qc_app:rir_detail' coa.header.id %}" class="btn btn-info btn-sm"><span class="icon-info"></span> Detail</a> | <a href="{% url 'qc_app:rir_download_report' %}" class="btn btn-success btn-sm" target="_blank"><span class="icon-printer"></span> Print</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
         
            <div class="tab-pane fade show" id="top-checkedby-restricted-substance" role="tabpanel" aria-labelledby="top-checkedby-restricted-substance-tab">
                <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="display" id="basic-3">
                            <thead>
                              <tr>
                                <th>RIR No</th>
                                <th>Type</th>
                                <th>Material Name</th>
                                <th>Incoming</th>
                                <th>Expired</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for restricted_substance in checkedby_restricted_substance %}
                                <tr>
                                    <td><a href="{% url 'qc_app:rir_detail' coa.header.id %}"> {{restricted_substance.header.rir_no}}</td>
                                    <td>{{restricted_substance.header.category}}</td>
                                    <td>{{restricted_substance.header.material}}</td>
                                    <td>{{restricted_substance.header.incoming_at}}</td>
                                    <td>{{restricted_substance.header.expired_at}}</td>
                                    <td><a href="{% url 'qc_app:rir_detail' coa.header.id %}" class="btn btn-info btn-sm"><span class="icon-info"></span> Detail</a> | <a href="{% url 'qc_app:rir_download_report' %}" class="btn btn-success btn-sm" target="_blank"><span class="icon-printer"></span> Print</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        
            <div class="tab-pane fade show" id="top-checkedby-sample-test" role="tabpanel" aria-labelledby="top-checkedby-sample-test-tab">
                <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="display" id="basic-3">
                            <thead>
                              <tr>
                                <th>RIR No</th>
                                <th>Type</th>
                                <th>Material Name</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for sample_test in checkedby_sample_test %}
                                <tr>
                                    <td><a href="{% url 'qc_app:rir_detail' coa.header.id %}">{{sample_test.header.rir_no}}</td>
                                    <td>{{sample_test.header.category}}</td>
                                    <td>{{sample_test.header.material}}</td>
                                    <td><a href="{% url 'qc_app:rir_detail' coa.header.id %}" class="btn btn-info btn-sm"><span class="icon-info"></span> Detail</a> | <a href="{% url 'qc_app:rir_download_report' %}" class="btn btn-success btn-sm" target="_blank"><span class="icon-printer"></span> Print</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          
            <div class="tab-pane fade show" id="top-environmental-issue" role="tabpanel" aria-labelledby="top-environmental-issue-tab">
                <div class="col-sm-12">
                    <div class="card">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="display" id="basic-4">
                            <thead>
                              <tr>
                                <th>RIR No</th>
                                <th>Type</th>
                                <th>Material Name</th>
                                <th>Incoming</th>
                                <th>Expired</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for environmental_issue in checkedby_environmental_issue %}
                                <tr>
                                    <td><a href="{% url 'qc_app:rir_detail' environmental_issue.header.id %}">{{environmental_issue.header.rir_no}}</td>
                                    <td>{{environmental_issue.header.category}}</td>
                                    <td>{{environmental_issue.header.material}}</td>
                                    <td>{{environmental_issue.header.incoming_at}}</td>
                                    <td>{{environmental_issue.header.expired_at}}</td>
                                    <td><a href="{% url 'qc_app:rir_detail' coa.header.id %}" class="btn btn-info btn-sm"><span class="icon-info"></span> Detail</a> | <a href="{% url 'qc_app:rir_download_report' %}" class="btn btn-success btn-sm" target="_blank"><span class="icon-printer"></span> Print</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  {% comment %} <div class="container-fluid">
   
  </div> {% endcomment %}
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}