{% extends 'starter_kit/base.html' %}{% load static %}
{% load sass_tags %}
{% load widget_tweaks %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/prism.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
    {% include 'starter_kit/layout/breadcrumb.html' %}
    <div class="col-sm-12 col-xl-12 xl-100">
        <div class="card">
            <div class="card-header pb-0">
                <h5>Biodata Karyawan | {{request.user.first_name}} {{request.user.last_name}}</h5><span>List Biodata Karyawan.</span>
            </div>
            <div class="card-body btn-showcase">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message | safe }}
                    <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                <!-- blok untuk menampilkan notifikasi pesan sukses -->
                <div>
                </div>
            <a class="btn btn-primary btn-lg" href="{% url 'hrd_app:biodata_add' %}"> <span class="fa fa-plus"></span>Add Karyawan</a>

            </div>
            <div class="card-body">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="display" id="basic-1">
                                    <thead>
                                        <tr>
                                            <th>No. Karywawan</th>
                                            <th>Nama Lengkap</th>
                                            <th>Department</th>
                                            <th>Division</th>
                                            <th>Position</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in biodata_user %}
                                        <tr>
                                          <td><a href="{% url 'hrd_app:biodata_detail' user.id %}">{{user.username}}</td>
                                          <td>{{user.first_name}} {{user.last_name}}</td>  
                                          <td>{{user.userprofileinfo.department.department_name}}</td>
                                          <td>{{user.userprofileinfo.division.division_name}}</td>
                                          <td>{{user.userprofileinfo.position}}</td>
                                          <td><a href="{% url 'hrd_app:biodata_detail' user.id %}" class="btn btn-info btn-sm"><span class="icon-info"></span> Detail</a></td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    {% comment %} <div class="container-fluid">

    </div> {% endcomment %}
    <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}