
{% extends 'starter_kit/base.html' %}
{% load static %}
{% load sass_tags %}
{% block css %}
{% load widget_tweaks %}

<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/prism.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/select2.scss' %}">

<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'starter_kit/layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row starter-main">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
              <h5>Medical Train Add | DATA KARYAWAN / KELUARGA</h5><span>1. Formulir ini harus diisi dengan lengkap, benar dan jelas.<br>2. Klaim dapat diproses, apabila formulir telah diisi dan semua dokumen pengajuan klaim telah dilampirkan dengan lengkap. <br>&nbsp &nbsp a. Nama, alamat, no.telepon tempat berobat (Rumah sakit, Poliklinik, praktek dokter, dsb) <br>&nbsp &nbsp b. Stempel dan tanda tangan dokter <br>&nbsp &nbsp c. Diagnosa, resep obat-obatan, dan hasil laboratorium</span>
          </div>
         
          <div class="card-body">
            <div class="row">
              <div class="mb-3 col-md-6">  
                  <label class="col-form-label">Name</label>
                  <input class="form-control" type="text" value="{{request.user.first_name}} {{request.user.last_name}}" readonly>
              </div>
              <div class="mb-3 col-md-6">  
                  <label class="col-form-label">Nomor Karyawan</label>
                  <input class="form-control" type="text" value="{{request.user.username}}" readonly>
              </div>
              <div class="mb-3 col-md-6">  
                  <label class="col-form-label">Department</label>
                  <input class="form-control" type="text" value="{{request.user.userprofileinfo.department.department_name}}" readonly>
              </div>
              <div class="mb-3 col-md-6">  
                  <label class="col-form-label">Division</label>
                  <input class="form-control" type="text" value="{{request.user.userprofileinfo.division.division_name}}" readonly>
              </div>
              <div class="mb-3 col-md-6">  
                  <label class="col-form-label">Section</label>
                  <input class="form-control" type="text" value="{{request.user.userprofileinfo.section.section_name}}" readonly>
              </div>
              <div class="mb-3 col-md-6">  
                  <label class="col-form-label">Position</label>
                  <input class="form-control" type="text" value="{{request.user.userprofileinfo.position}}" readonly>
              </div>
            </div>
          </div>
       </div>
       
        <div class="card">
            <div class="card-header pb-0">
                <h5>Medical Train Add | <i style="color: red;">*Diisi bila pasien keluarga karyawan</i></h5><span>1. Formulir ini harus diisi dengan lengkap, benar dan jelas.<br>2. Klaim dapat diproses, apabila formulir telah diisi dan semua dokumen pengajuan klaim telah dilampirkan dengan lengkap. <br>&nbsp &nbsp a. Nama, alamat, no.telepon tempat berobat (Rumah sakit, Poliklinik, praktek dokter, dsb) <br>&nbsp &nbsp b. Stempel dan tanda tangan dokter <br>&nbsp &nbsp c. Diagnosa, resep obat-obatan, dan hasil laboratorium</span>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                    {% for hidden in medical_data_keluarga_form.hidden_fields %}
                    {{ hidden }}
                     {% endfor %}
                    <!-- merender semua field form dari objek TaskForm -->
                    {% if medical_data_keluarga_form.non_field_errors %}
                      <div class="alert alert-danger" role="alert">
                        {% for error in medical_data_keluarga_form.non_field_errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                    {% for field in medical_data_keluarga_form.visible_fields %}
                      <div class="form-group">
                        {{ field.label_tag }}
                    
                        {% if medical_data_keluarga_form.is_bound %}
                          {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                              <div class="invalid-feedback">
                                {{ error }}
                              </div>
                            {% endfor %}
                          {% else %}
                            {% render_field field class="form-control is-valid" %}
                          {% endif %}
                        {% else %}
                          {% render_field field class="form-control" %}
                        {% endif %}
                        {% if field.help_text %}
                          <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                      </div>
                    {% endfor %}
            </div>
        </div>

        <div class="card">
            <div class="card-header pb-0">
                <h5>Medical Train Add | INFORMASI PEMBERI LAYANAN KESEHATAN</i></h5><span>1. Formulir ini harus diisi dengan lengkap, benar dan jelas.<br>2. Klaim dapat diproses, apabila formulir telah diisi dan semua dokumen pengajuan klaim telah dilampirkan dengan lengkap. <br>&nbsp &nbsp a. Nama, alamat, no.telepon tempat berobat (Rumah sakit, Poliklinik, praktek dokter, dsb) <br>&nbsp &nbsp b. Stempel dan tanda tangan dokter <br>&nbsp &nbsp c. Diagnosa, resep obat-obatan, dan hasil laboratorium</span>
            </div>
            <div class="card-body">

                    {% csrf_token %}
                    {% for hidden in medical_pemberi_layanan_form.hidden_fields %}
                    {{ hidden }}
                     {% endfor %}
                    <!-- merender semua field form dari objek TaskForm -->
                    {% if medical_pemberi_layanan_form.non_field_errors %}
                      <div class="alert alert-danger" role="alert">
                        {% for error in medical_pemberi_layanan_form.non_field_errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                    {% for field in medical_pemberi_layanan_form.visible_fields %}
                      <div class="form-group">
                        {{ field.label_tag }}
                        {% if medical_pemberi_layanan_form.is_bound %}
                          {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                              <div class="invalid-feedback">
                                {{ error }}
                              </div>
                            {% endfor %}
                          {% else %}
                            {% render_field field class="form-control is-valid" %}
                          {% endif %}
                        {% else %}
                          {% render_field field class="form-control" %}
                        {% endif %}
                        {% if field.help_text %}
                          <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                      </div>
                    {% endfor %}
            </div>
        </div>

        <div class="card">
            <div class="card-header pb-0">
                <h5>Medical Train Add | INFORMASI PELAYANAN KESEHATAN</i></h5><span>1. Formulir ini harus diisi dengan lengkap, benar dan jelas.<br>2. Klaim dapat diproses, apabila formulir telah diisi dan semua dokumen pengajuan klaim telah dilampirkan dengan lengkap. <br>&nbsp &nbsp a. Nama, alamat, no.telepon tempat berobat (Rumah sakit, Poliklinik, praktek dokter, dsb) <br>&nbsp &nbsp b. Stempel dan tanda tangan dokter <br>&nbsp &nbsp c. Diagnosa, resep obat-obatan, dan hasil laboratorium</span>
            </div>
            <div class="card-body">

                    {% csrf_token %}
                    {% for hidden in medical_pelayanan_kesehatan_form.hidden_fields %}
                    {{ hidden }}
                     {% endfor %}
                    <!-- merender semua field form dari objek TaskForm -->
                    {% if medical_pelayanan_kesehatan_form.non_field_errors %}
                      <div class="alert alert-danger" role="alert">
                        {% for error in medical_pelayanan_kesehatan_form.non_field_errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                    {% for field in medical_pelayanan_kesehatan_form.visible_fields %}
                      <div class="form-group">
                        {{ field.label_tag }}
                    
                        {% if medical_pelayanan_kesehatan_form.is_bound %}
                          {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                              <div class="invalid-feedback">
                                {{ error }}
                              </div>
                            {% endfor %}
                          {% else %}
                            {% render_field field class="form-control is-valid" %}
                          {% endif %}
                        {% else %}
                          {% render_field field class="form-control" %}
                        {% endif %}
                        {% if field.help_text %}
                          <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                      </div>
                    {% endfor %}
            </div>
        </div>

        <div class="card">
            <div class="card-header pb-0">
                <h5>Medical Train Add | Total Biaya & Attachment</i></h5><span>1. Formulir ini harus diisi dengan lengkap, benar dan jelas.<br>2. Klaim dapat diproses, apabila formulir telah diisi dan semua dokumen pengajuan klaim telah dilampirkan dengan lengkap. <br>&nbsp &nbsp a. Nama, alamat, no.telepon tempat berobat (Rumah sakit, Poliklinik, praktek dokter, dsb) <br>&nbsp &nbsp b. Stempel dan tanda tangan dokter <br>&nbsp &nbsp c. Diagnosa, resep obat-obatan, dan hasil laboratorium</span>
            </div>
            <div class="card-body">

                    {% csrf_token %}
                    {% for hidden in medical_header_form.hidden_fields %}
                    {{ hidden }}
                     {% endfor %}
                    <!-- merender semua field form dari objek TaskForm -->
                    {% if medical_header_form.non_field_errors %}
                      <div class="alert alert-danger" role="alert">
                        {% for error in medical_header_form.non_field_errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                    {% for field in medical_header_form.visible_fields %}
                      <div class="form-group">
                        {{ field.label_tag }}
                    
                        {% if medical_header_form.is_bound %}
                          {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                              <div class="invalid-feedback">
                                {{ error }}
                              </div>
                            {% endfor %}
                          {% else %}
                            {% render_field field class="form-control is-valid" %}
                          {% endif %}
                        {% else %}
                          {% render_field field class="form-control" %}
                        {% endif %}
                        {% if field.help_text %}
                          <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                      </div>
                    {% endfor %}
                    <div class="form-group row">
                      <div class="col-md-12">
                          <div class="input-group"><span class="input-group-text">IDR  </span>
                              <input  class="form-control" id="number-mask1" type="text" required>
                            </div>
                      </div>
                  </div>
                    {% csrf_token %}
                    {% for hidden in medical_attachment_form.hidden_fields %}
                    {{ hidden }}
                     {% endfor %}
                    <!-- merender semua field form dari objek TaskForm -->
                    {% if medical_attachment_form.non_field_errors %}
                      <div class="alert alert-danger" role="alert">
                        {% for error in medical_attachment_form.non_field_errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                    {% for field in medical_attachment_form.visible_fields %}
                      <div class="form-group">
                        {{ field.label_tag }}
                    
                        {% if medical_attachment_form.is_bound %}
                          {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                              <div class="invalid-feedback">
                                {{ error }}
                              </div>
                            {% endfor %}
                          {% else %}
                            {% render_field field class="form-control is-valid" %}
                          {% endif %}
                        {% else %}
                          {% render_field field class="form-control" %}
                        {% endif %}
                        {% if field.help_text %}
                          <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                      </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
<script src="{% static 'assets/js/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/select2/select2-custom.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/1.8.2/autoNumeric.js"></script>
<script>
  $(document).ready(function() {
      $('#id_incoming_type').select2();
      $('#id_category').select2();
      $('#id_material').select2();
      $('#id_vendor').select2();
  });
</script>
<script>
  easyNumberSeparator({
      selector: '#number-mask1',
      separator: '.',
      resultInput: '#id_rp_total',
  })
</script>
<script>
  $(document).ready(function() {
      $('#id_keluarga').select2();
  });
</script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}