{% load static %} {% load sass_tags %}
<!-- page sidebar starts -->
<header class="main-nav">
  <div class="logo-wrapper">
    <a href="/"
      ><img
        class="img-fluid"
        src="{% static 'assets/images/logo/logo.png' %}"
        alt=""
    /></a>
  </div>
  <div class="logo-icon-wrapper">
    <a href="/"
      ><img
        class="img-fluid"
        src="{% static 'assets/images/logo/logo-icon.png' %}"
        alt=""
    /></a>
  </div>
  <div class="morden-logo">
    <a href="/"
      ><img
        class="img-fluid"
        src="{% static 'assets/images/logo/morden-logo.png' %}"
        alt=""
    /></a>
  </div>
  <nav>
    <div class="main-navbar">
      <div class="left-arrow" id="left-arrow">
        <i data-feather="arrow-left"></i>
      </div>
      <div id="mainnav">
        <ul class="nav-menu custom-scrollbar">
          <li class="back-btn">
            <div class="mobile-back text-end">
              <span>Back</span
              ><i class="fa fa-angle-right ps-2" aria-hidden="true"></i>
            </div>
          </li>
          {% if perms.master_app %}
          <li class="dropdown">
            <a class="nav-link menu-title link-nav" href=""
              ><i data-feather="home"> </i><span>Dashboard </span></a
            >
          </li>
          {% endif %}
          {% if perms.it_app %}
          <li class="dropdown">
            <a class="nav-link menu-title" href="javascript:void(0)"
              ><i data-feather="home"></i><span>IT</span></a
            >
            <ul class="nav-submenu menu-content">
              <li><a href="">New Request & Problem</a></li>
            </ul>
          </li>
          {% endif %}
          {% if perms.accounting_app %}
          <li class="dropdown">
            <a class="nav-link menu-title" href="javascript:void(0)"
              ><i data-feather="home"></i><span>Accounting</span></a
            >
            <ul class="nav-submenu menu-content">
              <li><a href="">New Request & Problem</a></li>
            </ul>
          </li>
          {% endif %}
          {% if perms.costcontrol_app %}
          <li class="dropdown">
            <a class="nav-link menu-title" href="javascript:void(0)"
              ><i data-feather="home"></i><span>CostControl</span></a
            >
            <ul class="nav-submenu menu-content">
              <li><a href="">New Request & Problem</a></li>
            </ul>
          </li>
          {% endif %}
          {% if perms.engineering_app %}
          <li class="dropdown">
            <a class="nav-link menu-title" href="javascript:void(0)"
              ><i data-feather="home"></i><span>Engineering</span></a
            >
            <ul class="nav-submenu menu-content">
              <li><a href="">New Request & Problem</a></li>
            </ul>
          </li>
          {% endif %}
          {% if perms.ga_app %}
          <li class="dropdown">
            <a class="nav-link menu-title" href="javascript:void(0)"
              ><i data-feather="home"></i><span>GA</span></a
            >
            <ul class="nav-submenu menu-content">
              <li><a href="">New Request & Problem</a></li>
            </ul>
          </li>
          {% endif %}
          {% if perms.hrd_app %}
          <li class="dropdown">
            <a class="nav-link menu-title" href="javascript:void(0)"
              ><i data-feather="home"></i><span>HRD</span></a
            >
            <ul class="nav-submenu menu-content">
              <li><a href="">New Request & Problem</a></li>
            </ul>
          </li>
          {% endif %}
          
        </ul>
      </div>
      <div class="right-arrow" id="right-arrow">
        <i data-feather="arrow-right"></i>
      </div>
    </div>
  </nav>
</header>
<!-- page Sidebar Ends-->
