<table>
    <thead>
      <tr>
        <th>Stand</th>
        <th>cprodline</th>
        <th>cshift</th>
        <th>QTYPCS</th>
        <th>DRUM</th>
        <th>coperatorid</th>
        <th>coperatorname</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
      <tr>
        <td>{{ row.0 }}</td>
        <td>{{ row.1 }}</td>
        <td>{{ row.2 }}</td>
        <td>{{ row.3 }}</td>
        <td>{{ row.4 }}</td>
        <td>{{ row.5 }}</td>
        <td>{{ row.6 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  