{% extends 'starter_kit/other-base.html' %}
{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/prism.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/select2.scss' %}">
<style>
    .status-ok {
        color: green;
    }
    
    .status-ng {
        color: red;
    }
</style>
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="row">
    <div class="card-body col-xl-4">
        <div class="card manage-invoice-sec">
            <div class="card-header pb-0">
                <h3 class="text-center">FILTERING</h3>
                <hr>
            </div>
            <div class="card-body ">
                <div class="card-header pb-0"></div>
                <div class="row">
                    {% comment %} NANTI DISINI FORM START  {% endcomment %}
                    <div class="col-sm-12"><h4>Date</h4></div>
                    <div class="mb-3 col-xl-6 row">
                        <label class="col-sm-3 col-form-label">Start Date</label>
                        <div class="col-sm-9">
                            <input id="start-date" class="form-control digits" type="date" >
                        </div>
                    </div>
                    <div class="mb-3 col-xl-6 row">
                        <label class="col-sm-3 col-form-label">End Date</label>
                        <div class="col-sm-9">
                            <input id="end-date" class="form-control digits" type="date" >
                        </div>
                    </div>
                    <div class=""><hr></div>
                    <div class="col-sm-12"><h4>Shift</h4></div>
                    <div class="mb-3 col-xl-6 row">
                        <label class="col-sm-4 col-form-label">Shift 1</label>
                        <div class="col-sm-8">
                            <input id="shift-1" class="form-check-input" type="checkbox" value="1">
                        </div>
                    </div>
                    <div class="mb-3 col-xl-6 row">
                        <label class="col-sm-4 col-form-label">Shift 3</label>
                        <div class="col-sm-8">
                            <input id="shift-3" class="form-check-input" type="checkbox" value="2">
                        </div>
                    </div>
                    
                    {% comment %} FILTERING SO NUMBER START {% endcomment %}
                    <div class="col-sm-12"><h4>SO NUMBER</h4></div>
                    <div class="mb-3 col-xl-12 row">
                        <label class="col-sm-3 col-form-label">Search SO Number</label>
                        <div class="col-sm-9">
                            <input id="so-number-search" class="form-control" type="text" placeholder="Enter SO Number">
                        </div>
                    </div>
                    <div class=""><hr></div>
                    {% comment %} FILTERING SO NUMBER END {% endcomment %}

                    {% comment %} <button id="filter-button" class="btn-primary submit col-sm-4" type="button">Filtering</button> {% endcomment %}
                    


                    <button id="export-csv-button" class="btn-primary submit col-sm-4" type="submit">Download Excel</button>

                    {% comment %} NANTI DISINI FORM END  {% endcomment %}
                </div>
            </div>
        </div>
    </div>

    <div class="card-body col-xl-8">
        <div class="card manage-invoice-sec">
            <div class="card-header pb-0">
                <h3 class="text-center">Statistic POC VL</h3>
                <hr>
            </div>
            <div class="card-body">
                <div class="card-header pb-0"></div>
                <div class="row">
                  <div class="col-sm-6">  
                    <div class="col-sm-12 col-xl-12 box-col-12">
                          <div class="card-body">
                            <div id="column-chartT"></div>
                          </div>
                    </div>
                  </div>
                  <div class="col-sm-6">  
                    <div class="col-sm-12 col-xl-12 box-col-12">
                          <div class="card-body">
                            <table class="table-bordered table-xs table-striped" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Nama</th>
                                        <th>Item No</th>
                                        <th>Qty. So </th>
                                        <th>QTY. PCS</th>
                                    </tr>
                                </thead>
                                <tbody id="table-body-summary">

                                </tbody>
                            </table>
                          </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="card-body col-xl-12">
        <div class="card manage-invoice-sec">
            <div class="card-header pb-0">
                <h3 class="text-center">Report POC VL</h3>
                <hr>
            </div>
            <div class="card-body">
                <div class="manage-invoice-table">
                    <div class="item">
                        <div class="table-responsive">
                            <table class="table-bordered table-xs table-striped" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>created at</th>
                                        <th>Shift</th>
                                        <th>No.Kar </th>
                                        <th>Nama</th>
                                        <th>SO</th>
                                        <th>Item No</th>
                                        <th>Item Desc</th>
                                        <th>POC</th>
                                        <th>POC Status</th>
                                        <th>VIB</th>
                                        <th>VIB Status</th>
                                        <th>RUNOUT</th>
                                        <th>RUNOUT Status</th>
                                        <th>Thickness</th>
                                        <th>Thickness Status</th>
                                        <th>Top Width</th>
                                        <th>Top Width status</th>
                                    </tr>
                                </thead>
                                <tbody id="table-body">

                                </tbody>
                            </table>
                        </div>
                        <!-- <div class="pagination">
                            <button id="prev-page">Previous</button>
                            <span id="page-number">Page {{ currentPageNumber }}</span>
                            <button id="next-page">Next</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
{% comment %}
<script>
    document.getElementById('id_username').value = 'test'
    document.getElementById('id_password').value = 'testing@123'
</script> {% endcomment %}
<!-- Plugins JS Ends-->
<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></script>
<script src="{% static 'assets/js/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/select2/select2-custom.js' %}"></script>
<script src="{% static 'assets/js/chart/apex-chart/apex-chart.js' %}"></script>
<script src="{% static 'assets/js/chart/apex-chart/stock-prices.js' %}"></script>
<script src="{% static 'assets/js/chart/apex-chart/chart-custom.js' %}"></script>
<script>
   function exportToCSV() {
    // Retrieve the table data
    var table = document.querySelector('.table-bordered');
    var csvContent = '';
    
    // Get the table header row
    var headerRow = table.querySelector('thead tr');
    var headerData = [];
    var headerColumns = headerRow.querySelectorAll('th');
    headerColumns.forEach(function(headerColumn) {
        headerData.push('"' + headerColumn.textContent.trim() + '"');
    });
    csvContent += headerData.join(',') + '\n';

    // Get the table body rows
    var rows = table.querySelectorAll('tbody tr');
    rows.forEach(function(row) {
        var rowData = [];
        var columns = row.querySelectorAll('td');
        columns.forEach(function(column) {
            rowData.push('"' + column.textContent.trim() + '"');
        });
        csvContent += rowData.join(',') + '\n';
    });

    // Create a Blob with the CSV content
    var blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });

    // Save the CSV file
    var a = document.createElement('a');
    a.href = URL.createObjectURL(blob);
    a.download = 'table_data.csv';
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
}


</script>
<script>
  $(document).ready(function() {
      $('#id_computer_user').select2();
      $('#id_ip').select2();
      $('#export-csv-button').on('click', function() {
        exportToCSV();
    });
    $('#shift-1').prop('disabled', true);
        $('#shift-3').prop('disabled', true);
        $('#export-csv-button').prop('disabled', true);
        $('#so-number-search').prop('disabled', true);
 // column chart



function formatDate(date) {
        const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' };
        return new Date(date).toLocaleDateString('en-GB', options).replace(/\//g, '-');
    }

    var currentPageNumber = 1; // Initialize with the first page
    var hasNextPage = true;    // Initially assuming there's a next page

//jadi ini akan menjadi function ajax yang akan dibuat 
$('#filter-button').on('click', function() {
    var startDate = $('#start-date').val();
    var endDate = $('#end-date').val();
    var shift1 = $('#shift-1').is(':checked');
    var shift3 = $('#shift-3').is(':checked');
    var soNumber = $('#so-number-search').val(); // Get the SO number input value

    filterTable(startDate, endDate, shift1, shift3, soNumber, currentPageNumber);
});

function filterTable(startDate, endDate, shift1, shift3, soNumber, pageNumber) {
    $.ajax({
        url: '{% url "production_app:report_poc_vl_filter_table_data_ajax" %}',
        data: {
            start_date: startDate,
            end_date: endDate,
            shift_1: shift1,
            shift_2: shift3,
            so_number: soNumber,
            page: pageNumber,
        },
        success: function(response) {
            var tableBody = $('#table-body');
            var tableBodySummary = $('#table-body-summary')
            tableBody.empty(); // Clear the current table content
            tableBodySummary.empty();

            $.each(response.data, function(index, item) {
                // Format the created_at date
                var formattedDate = formatDate(item.created_at);
                // Extract the part of the SO number before the hyphen
                var soNumber = item.sono.split('-')[0];
                // Define the classes for "OK" and "NG" status
                var okClass = 'status-ok';
                var ngClass = 'status-ng';
                // Define a function to generate the status cell HTML
                function getStatusCell(status) {
                    return '<td class="' + (status ? okClass : ngClass) + '">' + (status ? 'OK' : 'NG') + '</td>';
                }
                // Append each row to the table body
                var row = '<tr>' +
                    '<td>' + formattedDate + '</td>' +
                    '<td>' + item.shift + '</td>' +
                    '<td>' + item.nokar + '</td>' +
                    '<td>' + item.nama + '</td>' +
                    '<td>' + soNumber + '</td>' +
                    '<td>' + item.itemno + '</td>' +
                    '<td>' + item.itemdesc + '</td>' +
                    '<td>' + item.poc + '</td>' +
                    getStatusCell(item.pocStatus) +
                    '<td>' + item.vib + '</td>' +
                    getStatusCell(item.vibStatus) +
                    '<td>' + item.runout + '</td>' +
                    getStatusCell(item.runoutStatus) +
                    '<td>' + item.thickness + '</td>' +
                    getStatusCell(item.thicknessStatus) +
                    '<td>' + item.topWidth + '</td>' +
                    getStatusCell(item.topWidthStatus) +
                    '</tr>';
                tableBody.append(row);
                
            });

            var tableBodySummary = $('#table-body-summary');

// Create an array of objects containing the summarized data
var summaryData = response.data.reduce(function(acc, item) {
    var user = item.nama;
    var itemNo = item.itemno;
    var soNumber = item.sono.split('-')[0];
    
    var existingItem = acc.find(function(summaryItem) {
        return summaryItem.item_nama === user && summaryItem.Item_No === itemNo;
    });

    if (existingItem) {
        existingItem.countSO.add(soNumber);
        existingItem.countQty++;
    } else {
        acc.push({
            item_nama: user,
            Item_No: itemNo,
            countSO: new Set([soNumber]),
            countQty: 1
        });
    }

    return acc;
}, []);

// Populate the summarized table
tableBodySummary.empty(); // Clear the current table content

summaryData.forEach(function(item) {
    var row = '<tr>' +
        '<td>' + item.item_nama + '</td>' +
        '<td>' + item.Item_No + '</td>' +
        '<td>' + item.countSO.size + '</td>' +
        '<td>' + item.countQty + '</td>' +
        '</tr>';
    tableBodySummary.append(row);
});

            var uniqueCategoryCounts = new Map(); // Create a map to store counts of unique categories
            var uniqueSoNumberCounts = new Map(); // Create a map to store counts of unique SO numbers
            var userCounts = new Map(); // Create a map to store user counts

            response.data.forEach(function(item) {
                // Update the count for this category ('nama')
                var category = item.nama;
                if (uniqueCategoryCounts.has(category)) {
                    uniqueCategoryCounts.set(category, uniqueCategoryCounts.get(category) + 1);
                } else {
                    uniqueCategoryCounts.set(category, 1);
                }
            
                // Update the count for this SO number
                var soNumber = item.sono.split('-')[0];
                if (uniqueSoNumberCounts.has(soNumber)) {
                    uniqueSoNumberCounts.set(soNumber, uniqueSoNumberCounts.get(soNumber) + 1);
                } else {
                    uniqueSoNumberCounts.set(soNumber, 1);
                }
            
                // Update the user count
                var user = item.nama; // Replace 'user' with the actual property name
                if (userCounts.has(user)) {
                    userCounts.set(user, userCounts.get(user) + 1);
                } else {
                    userCounts.set(user, 1);
                }
            });
            var distinctCategories = Array.from(uniqueCategoryCounts.keys());
            // var distinctItemNo = Array.from(itemNoCounts.keys());
            
            
            var seriesDataSO = distinctCategories.map(function(category) {
                var soNumber = category.split('-')[0];
                var soCount = uniqueSoNumberCounts.get(soNumber) || 0;
                return soCount;
            });
            var seriesDataQTY = distinctCategories.map(function(category) {
                return uniqueCategoryCounts.get(category) || 0;
            });

            


            // Create an array of objects containing quantity and distinct SO count
            var quantitySoCounts = seriesDataQTY.map(function(qtyCount, index) {
                var uniqueSoNumbers = new Set(); // Use a Set to store unique SO numbers for each user
                var user = distinctCategories[index]; // Assuming the user is stored in response.data
                // jadi disini akan ada fungsi tablenya 
                                // Append each row to the table body

            
                // disini akan selesai fungsi untuk menambahakn tablenya
                response.data.forEach(function(item) {
                if (item.nama === user) {
                    var soNumber = item.sono.split('-')[0];
                    if (!uniqueSoNumbers.has(soNumber)) {
                        uniqueSoNumbers.add(soNumber);
                    }
                }
            });

                return {
                    qtyCount: qtyCount,
                    soCount: uniqueSoNumbers.size // Use the Set's size as the distinct SO count
                };
            });


            // Modify the series configuration to include the quantitySoCounts data
            var seriesConfiguration = [
                {
                    name: 'SO',
                    data: quantitySoCounts.map(function(item) {
                        return item.soCount;
                    })
                },
                {
                    name: 'QTY',
                    data: quantitySoCounts.map(function(item) {
                        return item.qtyCount;
                    })
                }
            ];

            // console.log(quantitySoCounts); // This will contain the combined data of quantity and distinct SO count


            // Update pagination controls based on response.has_next
            var options3 = {
                chart: {
                    height: 350,
                    width: 500,
                    type: 'bar',
                    toolbar:{
                      show: true
                    }
                },
                plotOptions: {
                    bar: {
                        horizontal: false,
                        endingShape: 'rounded',
                        columnWidth: '55%',
                    },
                },
                dataLabels: {
                    enabled: false
                },
                stroke: {
                    show: true,
                    width: 2,
                    colors: ['transparent']
                },
                series: seriesConfiguration,
                xaxis: {
                    categories: distinctCategories,
                },
                yaxis: {
                    title: {
                        text: 'Jumlah'
                    }
                },
                fill: {
                    opacity: 1
            
                },
                tooltip: {
                    y: {
                        formatter: function (val) {
                            return " " + val + " "
                        }
                    }
                },
                colors:[ WingoAdminConfig.primary , WingoAdminConfig.secondary , '#51bb25']
            }

            $("#column-chartT").empty();

            var chart3 = new ApexCharts(
                document.querySelector("#column-chartT"),
                options3
            );
            



            chart3.render();
        }
    });
    // console.log(shift3)
}

var intervalId; // Store the interval ID

// Event listener for the start date input change
$('#start-date').on('change', function() {
    var startDate = $(this).val();
    
    // Clear the previous interval if it exists
    clearInterval(intervalId);
    
    // Start the interval only if the start date is not empty
    if (startDate) {
        $('#shift-1').prop('disabled', false);
        $('#shift-3').prop('disabled', false);
        $('#export-csv-button').prop('disabled', false);
        $('#so-number-search').prop('disabled', false);
        var endDate = $('#end-date').val();
            var shift1 = $('#shift-1').is(':checked') ? true : false;
            var shift3 = $('#shift-3').is(':checked') ? true : false;
            var soNumber = $('#so-number-search').val(); // Get the SO number input value
            filterTable(startDate, endDate, shift1, shift3, soNumber, currentPageNumber);
        intervalId = setInterval(function () {
            var endDate = $('#end-date').val();
            var shift1 = $('#shift-1').is(':checked') ? true : false;
            var shift3 = $('#shift-3').is(':checked') ? true : false;
            var soNumber = $('#so-number-search').val(); // Get the SO number input value
            filterTable(startDate, endDate, shift1, shift3, soNumber, currentPageNumber);
        }, 5000);
    }else{
        $('#shift-1').prop('disabled', true);
        $('#shift-3').prop('disabled', true);
        $('#export-csv-button').prop('disabled', true);
        $('#so-number-search').prop('disabled', true);
    }
});

//ini end dari fungsi ajax yang akan dibuat
    // Event listener for previous page button
    $('#prev-page').on('click', function() {
        if (currentPageNumber > 1) {
            currentPageNumber--;
        var startDate = $('#start-date').val();
        var endDate = $('#end-date').val();
        var shift1 = $('#shift-1').is(':checked');
        var shift3 = $('#shift-3').is(':checked');
        var soNumber = $('#so-number-search').val(); // Get the SO number input value
        filterTable(startDate, endDate, shift1, shift3, soNumber, currentPageNumber);
        }
    });

    // Event listener for next page button
    $('#next-page').on('click', function() {
        if (hasNextPage) {
        currentPageNumber++;
        var startDate = $('#start-date').val();
        var endDate = $('#end-date').val();
        var shift1 = $('#shift-1').is(':checked');
        var shift3 = $('#shift-3').is(':checked');
        var soNumber = $('#so-number-search').val(); // Get the SO number input value
        filterTable(startDate, endDate, shift1, shift3, soNumber,currentPageNumber);
        }
    });
  });

  

//===========================================================================================================================
 
//===========================================================================================================================

//===========================================================================================================================
</script>
<script>
// Add event listeners for page numbers here
</script>



{% endblock scriptcontent %}