{% extends 'starter_kit/other-base.html' %}
{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/prism.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/datatables.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/select2.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<iframe
src="{{iframeUrl}}"
frameborder="0"
width="1920"
height="1080"
allowtransparency
></iframe>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
{% comment %}
<script>
    document.getElementById('id_username').value = 'test'
    document.getElementById('id_password').value = 'testing@123'
</script> {% endcomment %}
<!-- Plugins JS Ends-->
<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatables/datatable.custom.js' %}"></script>
<script src="{% static 'assets/js/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/select2/select2-custom.js' %}"></script>
<script src="{% static 'assets/js/chart/apex-chart/apex-chart.js' %}"></script>
<script src="{% static 'assets/js/chart/apex-chart/stock-prices.js' %}"></script>
<script src="{% static 'assets/js/chart/apex-chart/chart-custom.js' %}"></script>


{% endblock scriptcontent %}