{% extends 'starter_kit/base.html' %}
{% load static %}
{% load sass_tags %}
{% block css %}
{% load widget_tweaks %}

<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/prism.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'starter_kit/layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row starter-main">
      <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
            <form method="POST" enctype="multipart/form-data" class="row g-3 needs-validation">
                {% csrf_token %}
                {% for hidden in cashPayment_form.hidden_fields %}
                {{ hidden }}
                 {% endfor %}
                <!-- merender semua field form dari objek TaskForm -->
                {% if cashPayment_form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">
                    {% for error in cashPayment_form.non_field_errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
                <div class="form-group row">
                    <div class="col-md-6 position-relative">
                        <label class="form-label" for="validationTooltip01">Description</label>
                        {% render_field cashPayment_form.description_1 class="form-control" placeholder="" type="text" %}
                    </div>
                    <div class="col-md-6 position-relative">
                        <label class="form-label" for="validationTooltip01">RP Detail</label>
                        <div class="input-group mb-3"><span class="input-group-text">IDR  </span>
                            {% render_field cashPayment_form.rp_detail_1 class="form-control" type="text"  %}
                          </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 position-relative">
                        <label class="form-label" for="validationTooltip01">Description</label>
                        {% render_field cashPayment_form.description_2 class="form-control" placeholder="" type="text" %}
                    </div>
                    <div class="col-md-6 position-relative">
                        <label class="form-label" for="validationTooltip01">RP Detail</label>
                        <div class="input-group mb-3"><span class="input-group-text">IDR  </span>
                            {% render_field cashPayment_form.rp_detail_2 class="form-control" type="text"  %}
                          </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 position-relative">
                        <label class="form-label" for="validationTooltip01">Description</label>
                        {% render_field cashPayment_form.description_3 class="form-control" placeholder="" type="text" %}
                    </div>
                    <div class="col-md-6 position-relative">
                        <label class="form-label" for="validationTooltip01">RP Detail</label>
                        <div class="input-group mb-3"><span class="input-group-text">IDR  </span>
                            {% render_field cashPayment_form.rp_detail_3 class="form-control" type="text"  %}
                          </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 position-relative">
                        <label class="form-label" for="validationTooltip01">Description</label>
                        {% render_field cashPayment_form.description_4 class="form-control" placeholder="" type="text" %}
                    </div>
                    <div class="col-md-6 position-relative">
                        <label class="form-label" for="validationTooltip01">RP Detail</label>
                        <div class="input-group mb-3"><span class="input-group-text">IDR  </span>
                            {% render_field cashPayment_form.rp_detail_4 class="form-control" type="text"  %}
                          </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 position-relative">
                        <label class="form-label" for="validationTooltip01">Description</label>
                        {% render_field cashPayment_form.description_5 class="form-control" placeholder="" type="text" %}
                    </div>
                    <div class="col-md-6 position-relative">
                        <label class="form-label" for="validationTooltip01">RP Detail</label>
                        <div class="input-group mb-3"><span class="input-group-text">IDR  </span>
                            {% render_field cashPayment_form.rp_detail_5 class="form-control" type="text"  %}
                          </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 position-relative">
                        <label class="form-label" for="validationTooltip01">Description</label>
                        {% render_field cashPayment_form.description_6 class="form-control" placeholder="" type="text" %}
                    </div>
                    <div class="col-md-6 position-relative">
                        <label class="form-label" for="validationTooltip01">RP Detail</label>
                        <div class="input-group mb-3"><span class="input-group-text">IDR  </span>
                            {% render_field cashPayment_form.rp_detail_6 class="form-control" type="text"  %}
                          </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12 position-relative">
                        <label class="form-label" for="validationTooltip01">Upload Attachment</label>
                        {% render_field cashPayment_form.cashPayment_attachment class="form-control" placeholder="" type="file" %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>


            </form>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}