{% extends 'starter_kit/base.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/prism.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'starter_kit/layout/breadcrumb.html' %}
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row starter-main">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pb-0">
            <h5>Cash Payment Voucher | User Information Detail {% if cashPayment.cashpaymentapprovalmanager.cashpaymentapprovalaccountingmanager.cashpaymentapprovalpresident.cashpaymentapprovalcashier.ticket_no %}| {{cashPayment.cashpaymentapprovalmanager.cashpaymentapprovalaccountingmanager.cashpaymentapprovalpresident.cashpaymentapprovalcashier.ticket_no}}{% endif %}</h5>
          </div>
          <hr class="mt-4 mb-2">
            <div class="card-body">
              <div class="row">
                <div class="mb-3 col-md-6">  
                    <label class="col-form-label">Name</label>
                    <input class="form-control" type="text" value="{{ cashPayment.assignee.first_name }} {{cashPayment.assignee.last_name}}" readonly>
                </div>
                <div class="mb-3 col-md-6">  
                    <label class="col-form-label">Nomor Karyawan</label>
                    <input class="form-control" type="text" value="{{ cashPayment.assignee.username }}" readonly>
                </div>
                <div class="mb-3 col-md-6">  
                    <label class="col-form-label">Department</label>
                    <input class="form-control" type="text" value="{{ cashPayment.assignee.userprofileinfo.department.department_name }}" readonly>
                </div>
                <div class="mb-3 col-md-6">  
                    <label class="col-form-label">Division</label>
                    <input class="form-control" type="text" value="{{ cashPayment.assignee.userprofileinfo.division.division_name }}" readonly>
                </div>
                <div class="mb-3 col-md-6">  
                    <label class="col-form-label">Section</label>
                    <input class="form-control" type="text" value="{{ cashPayment.assignee.userprofileinfo.section.section_name }}" readonly>
                </div>
                <div class="mb-3 col-md-6">  
                    <label class="col-form-label">Position</label>
                    <input class="form-control" type="text" value="{{ cashPayment.assignee.userprofileinfo.position }}" readonly>
                </div>
              </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header pb-0">
            <h5>Cash Payment Voucher | Voucher Detail</h5>
          </div>
          <hr class="mt-4 mb-2">
          <div class="card-body">
            <form class="theme-form mega-form">
              <div class="col-md-12 col-lg-12 row">

               <div class="mb-3 col-md-6 col-lg-6">
                 <label class="col-form-label">Description</label>
                 <textarea class="form-control" rows="5" cols="5" placeholder="Default textarea" readonly>{{cashPayment.description_1}}</textarea >
               </div>
               <div class="mb-3 col-md-6 col-lg-6">
                 <label class="col-form-label">Harga</label>
                 <div class="input-group"><span class="input-group-text">IDR  </span>
                   <input name="rp_detail_1" class="form-control" type="text" value="{{ cashPayment.rp_detail_1 }}" readonly>
                 </div>
               </div>
              
               {% if cashPayment.description_2 %}
              <div class="mb-3 col-md-6 col-lg-6">
                <textarea class="form-control" rows="5" cols="5" placeholder="Default textarea" readonly>{{cashPayment.description_2}}</textarea >
              </div>
              <div class="mb-3 col-md-6 col-lg-6">
                <div class="input-group"><span class="input-group-text">IDR  </span>
                  <input name="rp_detail_2" class="form-control" type="text" value="{{ cashPayment.rp_detail_2 }}" readonly>
                </div>
              </div>
              {% endif %}

              {% if cashPayment.description_3 %}
              <div class="mb-3 col-md-6 col-lg-6">
                <textarea class="form-control" rows="5" cols="5" placeholder="Default textarea" readonly>{{cashPayment.description_3}}</textarea >
              </div>
              <div class="mb-3 col-md-6 col-lg-6">
                <div class="input-group"><span class="input-group-text">IDR  </span>
                  <input name="rp_detail_3" class="form-control" type="text" value="{{ cashPayment.rp_detail_3 }}" readonly>
                </div>
              </div>
              {% endif %}
              {% if cashPayment.description_4 %}
              <div class="mb-3 col-md-6 col-lg-6">
                <textarea class="form-control" rows="5" cols="5" placeholder="Default textarea" readonly>{{cashPayment.description_4}}</textarea >
              </div>
              <div class="mb-3 col-md-6 col-lg-6">
                <div class="input-group"><span class="input-group-text">IDR  </span>
                  <input name="rp_detail_4" class="form-control" type="text" value="{{ cashPayment.rp_detail_4 }}" readonly>
                </div>
              </div>
              {% endif %}
              {% if cashPayment.description_5 %}
              <div class="mb-3 col-md-6 col-lg-6">
                <textarea class="form-control" rows="5" cols="5" placeholder="Default textarea" readonly>{{cashPayment.description_5}}</textarea >
              </div>
              <div class="mb-3 col-md-6 col-lg-6">
                <div class="input-group"><span class="input-group-text">IDR  </span>
                  <input name="rp_detail_5" class="form-control" type="text" value="{{ cashPayment.rp_detail_5 }}" readonly>
                </div>
              </div>
              {% endif %}
              {% if cashPayment.description_6 %}
              <div class="mb-3 col-md-6 col-lg-6">
                <textarea class="form-control" rows="5" cols="5" placeholder="Default textarea" readonly>{{cashPayment.description_6}}</textarea >
              </div>
              <div class="mb-3 col-md-6 col-lg-6">
                <div class="input-group"><span class="input-group-text">IDR  </span>
                  <input name="rp_detail_6" class="form-control" type="text" value="{{ cashPayment.rp_detail_6 }}" readonly>
                </div>
              </div>
              {% endif %}
              {% if cashPayment.description_7 %}
              <div class="mb-3 col-md-6 col-lg-6">
                <textarea class="form-control" rows="5" cols="5" placeholder="Default textarea" readonly>{{cashPayment.description_7}}</textarea >
              </div>
              <div class="mb-3 col-md-6 col-lg-6">
                <div class="input-group"><span class="input-group-text">IDR  </span>
                  <input name="rp_detail_7" class="form-control" type="text" value="{{ cashPayment.rp_detail_7 }}" readonly>
                </div>
              </div>
              {% endif %}
              {% if cashPayment.description_8 %}
              <div class="mb-3 col-md-6 col-lg-6">
                <textarea class="form-control" rows="5" cols="5" placeholder="Default textarea" readonly>{{cashPayment.description_8}}</textarea >
              </div>
              <div class="mb-3 col-md-6 col-lg-6">
                <div class="input-group"><span class="input-group-text">IDR  </span>
                  <input name="rp_detail_8" class="form-control" type="text" value="{{ cashPayment.rp_detail_8 }}" readonly>
                </div>
              </div>
              {% endif %}
              {% if cashPayment.description_9 %}
              <div class="mb-3 col-md-6 col-lg-6">
                <textarea class="form-control" rows="5" cols="5" placeholder="Default textarea" readonly>{{cashPayment.description_9}}</textarea >
              </div>
              <div class="mb-3 col-md-6 col-lg-6">
                <div class="input-group"><span class="input-group-text">IDR  </span>
                  <input name="rp_detail_9" class="form-control" type="text" value="{{ cashPayment.rp_detail_9 }}" readonly>
                </div>
              </div>
              {% endif %}
              {% if cashPayment.description_10 %}
              <div class="mb-3 col-md-6 col-lg-6">
                <textarea class="form-control" rows="5" cols="5" placeholder="Default textarea" readonly>{{cashPayment.description_10}}</textarea >
              </div>
              <div class="mb-3 col-md-6 col-lg-6">
                <div class="input-group"><span class="input-group-text">IDR  </span>
                  <input name="rp_detail_10" class="form-control" type="text" value="{{ cashPayment.rp_detail_10 }}" readonly>
                </div>
              </div>
              {% endif %}
              {% if cashPayment.description_11 %}
              <div class="mb-3 col-md-6 col-lg-6">
                <textarea class="form-control" rows="5" cols="5" placeholder="Default textarea" readonly>{{cashPayment.description_11}}</textarea >
              </div>
              <div class="mb-3 col-md-6 col-lg-6">
                <div class="input-group"><span class="input-group-text">IDR  </span>
                  <input name="rp_detail_11" class="form-control" type="text" value="{{ cashPayment.rp_detail_11 }}" readonly>
                </div>
              </div>
              {% endif %}
              {% if cashPayment.description_12 %}
              <div class="mb-3 col-md-6 col-lg-6">
                <textarea class="form-control" rows="5" cols="5" placeholder="Default textarea" readonly>{{cashPayment.description_12}}</textarea >
              </div>
              <div class="mb-3 col-md-6 col-lg-6">
                <div class="input-group"><span class="input-group-text">IDR  </span>
                  <input name="rp_detail_12" class="form-control" type="text" value="{{ cashPayment.rp_detail_12 }}" readonly>
                </div>
              </div>
              {% endif %}
              <div class="mb-3 col-md-12 col-lg-12">
                 <label class="col-form-label">Cash Total</label>
                 <div class="input-group"><span class="input-group-text">IDR  </span>
                  <input name="rp_detail_1" class="form-control" type="text" value="{{ cashPayment.rp_total }}" readonly>
                </div>
              </div>
               </div>
            {% if cashPayment.cashpaymentapprovalmanager.is_rejected_manager == True %}
            <div class="mb-3">
              <label class="col-form-label">Reject Reason by {{ cashPayment.ticketapprovalmanager.manager.first_name }} {{ ticket.ticketapprovalmanager.manager.last_name }} (Approval Manager)</label>
              <textarea class="form-control" rows="5" cols="5" placeholder="Default textarea" readonly>{{cashPayment.ticketapprovalmanager.reject_reason_manager}}</textarea >
            </div>
            {% endif %}
            {% if cashPayment.cashpaymentapprovalmanager.cashpaymentapprovalaccountingmanager.reject_reason_manager_accounting %}
            <div class="mb-3">
              <label class="col-form-label">Reject Reason by {{ cashPayment.cashpaymentapprovalmanager.cashpaymentapprovalaccountingmanager.manager_accounting.first_name }} {{ cashPayment.cashpaymentapprovalmanager.cashpaymentapprovalaccountingmanager.manager_accounting.last_name }} (Approval IT)</label>
              <textarea class="form-control" rows="5" cols="5" placeholder="Default textarea" readonly>{{cashPayment.cashpaymentapprovalmanager.cashpaymentapprovalaccountingmanager.reject_reason_manager_accounting}}</textarea >
            </div>
            {% endif %}
            {% if cashPayment.cashpaymentapprovalmanager.cashpaymentapprovalaccountingmanager.cashpaymentapprovalpresident.reject_reason_president %}
            <div class="mb-3">
              <label class="col-form-label">Reject Reason by {{ cashPayment.cashpaymentapprovalmanager.cashpaymentapprovalaccountingmanager.cashpaymentapprovalpresident.president.first_name }} {{ cashPayment.cashpaymentapprovalmanager.cashpaymentapprovalaccountingmanager.cashpaymentapprovalpresident.president.last_name }} (Approval IT)</label>
              <textarea class="form-control" rows="5" cols="5" placeholder="Default textarea" readonly>{{cashPayment.cashpaymentapprovalmanager.cashpaymentapprovalaccountingmanager.cashpaymentapprovalpresident.reject_reason_president}}</textarea >
            </div>
            {% endif %}
            </form>
          </div>
        </div>
        <div class="card">
          <div class="card-header pb-0">
            <h5>Cash Payment Voucher | Attachment</h5>
          </div>
          <hr class="mt-4 mb-2">
          <div class="card-body">
            <form class="theme-form mega-form">
              <div class="mb-3">  
                <label class="col-form-label">List Attachment</label>
                <ul>
                    <div class="row my-gallery gallery" id="aniimated-thumbnials" itemscope="">
                      {% for attachment in attachment %}
                  <li><a href="{{ MEDIA_URL }}{{ attachment.attachment }}">{{ attachment.attachment }}</a></li>
                  {% endfor %}
                    </div>
                  </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/prism/prism.min.js' %}"></script>
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/custom-card/custom-card.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}